<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-lg-6">
    <!-- /.table-responsive -->
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, id: :profile_name, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, id: :profile_title, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :maintainer %>
      <%= form.text_field :maintainer, id: :profile_maintainer, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :copyright %>
      <%= form.text_field :copyright, id: :profile_copyright, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :copyright_email %>
      <%= form.text_field :copyright_email, id: :profile_copyright_email, class: "form-control" %>
    </div>
  </div>
  <div class="col-lg-6">

    <div class="field">
      <%= form.label :license %>
      <%= form.text_field :license, id: :profile_license, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :summary %>
      <%= form.text_area :summary, id: :profile_summary, class: "form-control", rows:2 %>
    </div>

    <div class="field">
      <%= form.label :version %>
      <%= form.text_field :version, id: :profile_version, class: "form-control" %>
    </div>
  </div>


  <div class="actions">
    <%= form.submit "Submit Edit", {:class => "btn btn-primary"} %>
  </div>
<% end %>
