= render layout: 'devise/shared/card_wrapper', locals: { icon: 'envelope', title: 'Resend Confirmation Instructions' } do
  - if Settings.smtp.enabled
    = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .form-group
        = f.label :email
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
      .actions.mt-3
        = f.submit "Resend confirmation instructions", class: "btn btn-success btn-block"
  - else
    = render 'devise/shared/smtp_unavailable', action_description: 'confirm your email address'
