<%= form_tag(test_path, method: "get", id: 'run_test', remote: true) do %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(control.errors.count, "error") %> prohibited this control from being saved:</h2>
        
      <ul>
      <% control.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group row">
    <div class="col-lg-5 text-center text-right">
        <label class="control-label">Select Predefined Host Configuration</label>
        <div class="row">
          <div class="col-lg-11">
            <select id="host_configs" class="form-control">
              <% current_user.host_configs.each do |config| %>
               <% puts config.inspect %>
                <option value="<%= config.id %>">
                  <% if config.transport_method == 'SSH' %>
                    <%= "SSH - " + config.user + " - " + config.host + ' - ' + config.port %>
                  <% elsif config.transport_method == 'Docker' %>
                    <%= "Docker - " + config.user + " - " + config.host + ' - ' + config.port %>
                  <% elsif config.transport_method == 'AWS' %>
                    <%= "AWS - " + (config.aws_region || 'null') + ' - ' + (config.aws_profile || 'null') %>
                  <% end %>
                </option>
              <% end %>
            </select>
          </div>
          <div class="col-lg-1">
            <span role="button" class="btn btn-icon waves-effect waves-light btn-danger" onclick="delete_host_config()">
              <i class="ti-close"></i>
            </span>
          </div>
        </div>
    </div>
    <div class="col-lg-1 text-center text-right">
        <label class="control-label">OR</label>
    </div>
    <div class="col-lg-6 text-center text-right">
      <%= hidden_field_tag 'control_id',nil, id: 'control_id' %>
      <%= hidden_field_tag 'code',nil, id: 'code' %>
      <label class="control-label">Manually Enter (saved data will be encrypted)</label>
      <div class="row">
        <div class="col-lg-4 text-center text-right">
            <!-- <label class="control-label">Method</label> -->
            <%= select_tag "transport_method", options_for_select([['local', 'local'], ['SSH', 'ssh'], ['Docker', 'docker'], ['AWS', 'aws']]), class: "form-control" %>
        </div>
        <div class="col-sm-2">
          <!-- <label class="control-label">Run Test</label> -->
          <%= submit_tag 'Run Test', class: 'btn btn-success' %>
        </div>
        <div class="col-sm-2">
          <!-- <label class="control-label">Save</label> -->
          <span role="button" class="btn btn-icon waves-effect waves-light btn-primary" onclick="add_host_config(<%= current_user.id %>, $('#host').val(), $('#user').val(), $('#pass').val(), $('#port').val(), $('#transport_method').val())">
            <i class="ti-plus"></i>
          </span>
        </div>
        <div class="col-sm-1">
          <%= check_box("run_all", nil, {class: 'js-switch'}) %>
        </div>
        <div class="col-sm-2">
          <label class="control-label">Run All Tests</label>
        </div>
      </div>
      <div class="row" id="host_row" style='display:none;'>
        <div class="col-lg-3 text-center text-right">
            <label class="control-label">Username</label>
            <%= text_field_tag :user,nil, class: "form-control" %>
        </div>
        <div class="col-lg-3 text-center text-right">
            <label class="control-label">User Password</label>
            <%= text_field_tag :pass,nil, class: "form-control" %>
        </div>
        <div class="col-lg-3 text-center text-right">
            <label class="control-label">Host Name</label>
            <%= text_field_tag :host,nil, class: "form-control" %>
        </div>
        <div class="col-lg-3 text-center text-right">
            <label class="control-label">port</label>
            <%= text_field_tag :port, nil, class: "form-control" %>
        </div>
      </div>
      <div class="row" id="sudo_row" style='display:none;'>
        <div class="col-lg-1 col-sm-3 text-center text-right">
            <label class="control-label">Sudo?</label>
            <%= check_box("sudo", nil, {class: 'js-switch'}) %>
        </div>
        <div class="col-lg-3 text-center text-right">
            <label class="control-label">Sudo Username</label>
            <%= text_field_tag :sudo_user, nil,  class: "form-control" %>
        </div>
        <div class="col-lg-4 text-center text-right">
            <label class="control-label">Sudo Password</label>
            <%= text_field_tag :sudo_pass, nil,  class: "form-control" %>
        </div>
        <div class="col-lg-4 text-center text-right">
            <label class="control-label">Sudo Options</label>
            <%= text_field_tag :sudo_options, nil,  class: "form-control" %>
        </div>
      </div>
      
      <div class="row" id="aws_row" style="display:none;">
        <div class="col-lg-4 text-center text-right">
            <label class="control-label">AWS Region</label>
            <%= text_field_tag :aws_region, nil,  class: "form-control" %>
        </div>
        <div class="col-lg-4 text-center text-right">
            <label class="control-label">AWS Access Key</label>
            <%= text_field_tag :access_key_id, nil,  class: "form-control" %>
        </div>
        <div class="col-lg-4 text-center text-right">
            <label class="control-label">AWS Secret Key</label>
            <%= text_field_tag :secret_access_key, nil,  class: "form-control" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
  var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));

  elems.forEach(function(html) {
  var switchery = new Switchery(html);
  });
  
  $('#run_test').submit(function(e){
    e.preventDefault();
    if ($('#code_text').html() == '') {
      alert("Please select a control to run under step 2.");
      return false;
    }
    console.log(editor.getValue());
    $('#code').val(editor.getValue());
    return true;
   });
</script>