<h4>Create Vendor</h4>
<%= form_with(model: vendor, local: true) do |form| %>
  <% if vendor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vendor.errors.count, "error") %> prohibited this vendor from being saved:</h2>

      <ul>
      <% vendor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group clearfix">
      <label class="control-label"> Vendor Name *</label>
      <div class="">
        <%= form.text_field :vendor_name, id: :vendor_name, class: "form-control" %>
      </div>
  </div>
  
  <div class="form-group clearfix">
      <label class="control-label"> Point Of Contact *</label>
      <div class="">
        <%= form.text_field :point_of_contact, id: :vendor_point_of_contact, class: "form-control" %>
      </div>
  </div>
  
  <div class="form-group clearfix">
      <label class="control-label"> Point Of Contact Email *</label>
      <div class="">
        <%= form.text_field :poc_email, id: :vendor_poc_email, class: "form-control" %>
      </div>
  </div>
  
  <div class="form-group clearfix">
      <label class="control-label"> Point Of Contact Phone Number *</label>
      <div class="">
        <%= form.text_field :poc_phone_number, id: :vendor_poc_phone_number, class: "form-control" %>
      </div>
  </div>

  <div class="actions">
    <%= form.submit "Submit Vendor", {:class => "btn btn-primary"} %>
  </div>
<% end %>

