%h2
  Edit #{resource_name.to_s.humanize}
- unless resource.provider.nil?
  #providerHelp.form-text.text-muted="Some settings are managed by #{resource.provider} and cannot be changed here."
  %br/

= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = render "devise/shared/error_messages", resource: resource
  .form-group
    = f.label :your_name
    %br/
    = f.text_field :name, autofocus: true, class: "form-control", autocomplete: "name", required: "true", disabled: !resource.provider.nil?
  .form-group
    = f.label :email
    %br/
    = f.email_field :email, autocomplete: "email", class: "form-control", disabled: !resource.provider.nil?

  - if resource.provider.nil?
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    .form-group

      = f.label :password
      %i (leave blank if you don't want to change it)

      = f.password_field :password, autocomplete: "new-password", class: "form-control", disabled: !resource.provider.nil?
      - if @minimum_password_length
        %small#passwordHelp.form-text.text-muted
          = @minimum_password_length
          characters minimum


    .form-group
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", disabled: !resource.provider.nil?
    .form-group
      = f.label :current_password
      %i (we need your current password to confirm your changes)
      %br/
      = f.password_field :current_password, autocomplete: "current-password", class: "form-control"
  .actions
    = f.submit "Update", class: 'btn btn-success btn-block'
  %br/

%h3 Cancel my account
%p
  Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger"}
= link_to "Back", :back, class: "btn btn-light"
