<!DOCTYPE html>
<html>
  <%= render 'user_mailer/shared_styles' %>
  <body>
    <h2>Hello ProjectAdmins,</h2>
    <% if Settings.app_url.present? %>
        <p><%= @current_user.name %> requested review on <%= link_to @stig_id, "#{Settings.app_url}/components/#{@component_id}/#{@stig_id}" %> .</p>
    <% else %>
        <p><%= @current_user.name %> requested review on <%= @stig_id %>.</p>
    <% end %>
    <h3>The review comment is:</h3>
    <blockquote>
      <%= @comment %>
    </blockquote>
    <br/>
    <br/>
    <p>Thank you,</p>
    <p>Vulcan Support</p>
  </body>
</html>

