<!DOCTYPE html>
<html>
  <%= render 'user_mailer/shared_styles' %>
  <body>
    <h2>Hi <%=@latest_review_user.name %>,</h2>
    <p><%= @current_user.name %> revoked review on <%= link_to @stig_id, component_url("#{@component_id}/#{@stig_id}") %> .</p>
    <h3>The revoked comments are:</h3>
    <blockquote>
      <%= @comment %>
    </blockquote>
    <br/>
    <br/>
    <p>Thank you,</p>
    <p>Vulcan Support</p>
  </body>
</html>

