<!DOCTYPE html>
<html>
  <%= render 'user_mailer/shared_styles' %>
  <body>
    <% object_class = @project_or_component.class.to_s %>
    <h2><%= "Vulcan #{object_class} Access" %></h2>
    <p>Hi <%= @user.name %>,</p>
    <p>You have been added to the <%= @role_assigned %> role in the <%= "#{@project_or_component.name} #{object_class}" %>.</p>
    <p>You can access the <%= object_class.downcase %> at <%= link_to @project_or_component.name, @project_or_component %> .</p>
    <br/>
    <br/>
    <p>Thank you,</p>
    <p>Vulcan Support</p>
  </body>
</html>
