<!DOCTYPE html>
<html>
  <%= render 'user_mailer/shared_styles' %>
  <body>
    <h2>Vulcan Component Access</h2>
    <p>Hi <%= @user.name %>,</p>
    <p>You have been added to the <%= @role_assigned %> role in the <%= @component.name %> component.</p>
    <% if Settings.app_url.present? %>
        <p>You can access the component at <%= link_to @component.name, "#{Settings.app_url}/components/#{@component_id}" %> .</p>
    <% else %>
        <p>You can access the component "<%= @component.name %>".</p>
      <% end %>
    <br/>
    <br/>
    <p>Thank you,</p>
    <p>Vulcan Support</p>
  </body>
</html>
