<div id="wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Uploaded SRGs</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
          <div class="panel-heading">
              SRGs
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Controlid</th>
                      <th>Severity</th>
                      <th>Title</th>
                      <th>Description</th>
                      <th>Nist Families</th>
                      <th>Ruleid</th>
                      <th>Fixid</th>
                      <th>Fixtext</th>
                      <th>Checkid</th>
                      <th>Checktext</th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @srg_controls.each do |srg_control| %>
                      <tr>
                        <td><%= srg_control.controlId %></td>
                        <td><%= srg_control.severity %></td>
                        <td><%= srg_control.title %></td>
                        <td><%= srg_control.description %></td>
                        <td><%= srg_control.nist_families %></td>
                        <td><%= srg_control.ruleID %></td>
                        <td><%= srg_control.fixid %></td>
                        <td><%= srg_control.fixtext %></td>
                        <td><%= srg_control.checkid %></td>
                        <td><%= srg_control.checktext %></td>
                        <td><%= link_to 'Show', srg_control %></td>
                        <td><%= link_to 'Edit', edit_srg_control_path(srg_control) %></td>
                        <td><%= link_to 'Destroy', srg_control, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
          </div>
          <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
  </div>   
</div>                   

<br>

<%= link_to 'New Srg Control', new_srg_control_path %>
