<p id="notice"><%= notice %></p>
<div id="wrapper">
  <p>
    <strong>Srg ID:</strong>
    <%= @srg_control.control_id %>
  </p>

  <p>
    <strong>Severity:</strong>
    <%= @srg_control.severity %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= @srg_control.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @srg_control.description %>
  </p>

  <p>
    <strong>Nist Families:</strong>
    <% @srg_control.nist_controls.each do |nist| %>
      <td><%= nist.family + '-' + nist.index %></td>
    <% end %>
  </p>

  <p>
    <strong>Rule ID:</strong>
    <%= @srg_control.ruleID %>
  </p>

  <p>
    <strong>Fixid:</strong>
    <%= @srg_control.fixid %>
  </p>

  <p>
    <strong>Fixtext:</strong>
    <%= @srg_control.fixtext %>
  </p>

  <p>
    <strong>Checkid:</strong>
    <%= @srg_control.checkid %>
  </p>

  <p>
    <strong>Checktext:</strong>
    <%= @srg_control.checktext %>
  </p>

  <%= link_to 'Back', srg_path(@srg_control.srg_id) %>
</div> 
