<div id="edit_control_form_id">
  <%= form_with(model: project_control, local: true, html: { id: 'edit_project_control_id'}) do |form| %>
    <% if project_control.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(control.errors.count, "error") %> prohibited this control from being saved:</h2>

        <ul>
        <% control.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div>
        <h3>Applicability</h3>
        <section id="app_sect">
          <div class="field">
            <%= form.label :project_control_applicability %>
            <%= form.select(:applicability, options_for_select([['Applicable - Configurable', 'Applicable - Configurable'], ['Applicable - Does Not Meet', 'Applicable - Does Not Meet'], ['Applicable - Inherently Meets', 'Applicable - Inherently Meets'], ['Not Applicable', 'Not Applicable']], @project_control.applicability), {}, {class: "form-control"}) %>
          </div>
        </section>
        
        <h3>Details</h3>
        <section id="det_sect">
          <div id='main_control_fields' style="<%='display:none' if @project_control.applicability == nil %>">
            <div class="row">
              <div class="col-lg-12">
                <div class="field">
                  <%= form.label :title, id: :project_control_title_label %>
                  : (SRG Title <i class="mdi mdi-information-outline" data-toggle="popover" data-content="<%= SrgControl.find_by(srg_title_id: @project_control.srg_title_id).title %>" id="srg_title_pop"></i> )
                  <%= form.text_area :title, id: :project_control_title, class: "form-control", rows:2 %>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-lg-12">
                <div class="field">
                  <%= form.label :description, id: :project_control_description_label %>
                  : (SRG Description <i class="mdi mdi-information-outline" data-toggle="popover" data-content="<%= SrgControl.find_by(srg_title_id: @project_control.srg_title_id).description %>" id="srg_desc_pop"></i> )
                  <%= form.text_area :description, id: :project_control_description, class: "form-control", rows:5 %>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-lg-4">
                <div class="field">
                  <%= form.label :impact, id: :project_control_impact_label %>
                  : (SRG Impact <i class="mdi mdi-information-outline" data-toggle="popover" data-content="<%= SrgControl.find_by(srg_title_id: @project_control.srg_title_id).severity %>" id="srg_sev_pop"></i> )
                  <%= form.text_area :impact, id: :project_control_impact, class: "form-control", rows:1 %>

                </div>
              </div>
            </div>
          </div>
          <div class="field" style="<%='display:none' if @project_control.applicability == nil %>", id='justification_field'>
            <%= form.label :justification, id: :project_control_just_label %>
            <%= form.text_area :justification, id: :project_control_justification, class: "form-control", rows:5 %>
          </div>
        </section>
        
        <h3>Check and Fix Text</h3>
        <section id="ch_fx_sect">
          <div id='checktext_fields'>
            <div class="row">
              <div class="col-lg-12">
                <div class="field">
                  <%= form.label :checktext, id: :project_control_checktext_label %>
                  : (SRG Check Text <i class="mdi mdi-information-outline" data-toggle="popover" data-content="<%= SrgControl.find_by(srg_title_id: @project_control.srg_title_id).checktext %>" id="srg_ck_pop"></i> )
                  <%= form.text_area :checktext, id: :project_control_checktext, class: "form-control", rows:5 %>
                </div>
              </div>
            </div>
          </div>
          
          <div id='fixtext_fields'>
            <div class="row">
              <div class="col-lg-12">
                <div class="field">
                  <%= form.label :fixtext, id: :project_control_fixtext_label %>
                  : (SRG Fix Text <i class="mdi mdi-information-outline" data-toggle="popover" data-content="<%= SrgControl.find_by(srg_title_id: @project_control.srg_title_id).fixtext %>" id="srg_fx_pop"></i> )
                  <%= form.text_area :fixtext, id: :project_control_checktext, class: "form-control", rows:5 %>
                </div>
              </div>
            </div>
          </div>
          
          <div class="field" style="<%='display:none' if @project_control.applicability == nil %>", id='nothing_to_fill_checkfix_field'>
            <h3 id="nothing_to_fill_checkfix_label"></h3>
          </div>
        </section>
        
        <h3>InSpec Code</h3>
        <section id="code_sect">
          <div class="field" style="<%='display:none' if @project_control.applicability == nil %>", id='nothing_to_fill_code_field'>
            <h3 id="nothing_to_fill_code_label"></h3>
          </div>
          <div id="code_field">
            <div class="field">
              <%= form.label :InSpec_code %>
              <%= hidden_field_tag 'code',nil, id: 'project_control_code' %>
              <div class='card' id="code" style="position: relative; overflow-y: scroll; height: 500px;">
              </div>
            </div>
          </div>
        </section>
    </div>
  <% end %>
  <script>
//   describe command('ls /User') do
//    its('stdout') { should include 'dromazmj' } 
// end
    load_wizard("#edit_project_control_id");
    $('#srg_title_pop').popover(); $('#srg_desc_pop').popover(); $('#srg_sev_pop').popover();
    $('#srg_ck_pop').popover(); $('#srg_fx_pop').popover();
    ace_editor = ace.edit("code");
    ace_editor.session.setMode('ace/mode/ruby');
    ace_editor.session.setValue('<%=j @project_control.code.html_safe unless @project_control.code.nil? %>');
    
    $('#edit_project_control_id').submit(function(e){
      alert("here")
      $('#project_control_code').val(ace_editor.getValue());
     }); 
  </script>
</div>
