<div>
  <%= form_with(model: @project_control, local: true, html: { id: 'review_control_form_id', remote: true}) do |form| %>
    <%= hidden_field_tag :project_control_id, @project_control.id %>
    <%= hidden_field_tag :user_id, current_user.id %>
    <% if @project_control.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(control.errors.count, "error") %> prohibited this control from being saved:</h2>

        <ul>
        <% control.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <div class="field">
        <%= render 'components/project_control_review_sect', form: form, attribute: 'applicability', title: 'Applicability' %>
      </div>
      
      <div class="field">
        <%= render 'components/project_control_review_sect', form: form, attribute: 'title', title: 'Title' %>
      </div>
      
      <div class="field">
        <%= render 'components/project_control_review_sect', form: form, attribute: 'description', title: 'Description' %>
      </div>
      
      <div class="field">
        <%= render 'components/project_control_review_sect', form: form, attribute: 'impact', title: 'Impact' %>
      </div>
      
      <div class="field">
        <%= render 'components/project_control_review_sect', form: form, attribute: 'justification', title: 'Justification' %>
      </div>
      
      <div class="field">
        <%= render 'components/project_control_review_sect', form: form, attribute: 'checktext', title: 'Check Text' %>
      </div>
      
      <div class="field">
        <%= render 'components/project_control_review_sect', form: form, attribute: 'fixtext', title: 'Fix Text' %>
      </div>
      
      <div class="field">
        <%= render 'components/project_control_review_sect', form: form, attribute: 'code', title: 'InSpec Code' %>
      </div>
      <div class="field">
        <%= render 'components/project_control_review_sect', form: form, attribute: 'children', title: 'Child Controls' unless @project_control.children.empty? %>
        <%= render 'components/project_control_review_sect', form: form, attribute: 'parent', title: 'Parent Control' if @project_control.parent %>
      </div>
    </div>
  <% end %>
  <script>
    
    function add_history(project_control_id, project_control_attr, text, history_type, is_reply_to, user_id) {
      console.log(text);
      project_control_id = parseInt(project_control_id)
      $.ajax({
        url: "/add_history",
        type: "post",
        data: {'project_control_histories': {project_control_id, project_control_attr, text, history_type, is_reply_to, user_id}},
        success: function(data) {
          console.log(data);
          url = '/project_controls/' + project_control_id + '/review_control';
          if ($('#reviewForm').length) {
            $('#reviewForm').empty();
          }
          $.ajax({
            url: url,
            type: "get",
            datatype: 'json',
            success: function(data) {
              $('#reviewForm').append(data);
            },
            error: function() {
              console.log("Error occured");
            }   
          });
        },
        error: function() {
          console.log("Error occured");
        }   
      });
    }
  
    $('#srg_title_pop').popover(); $('#srg_desc_pop').popover(); $('#srg_sev_pop').popover();
    $('#srg_ck_pop').popover(); $('#srg_fx_pop').popover();
  </script>
</div>