<div>
  <%= form_with(model: @project_control, local: true, html: { id: 'review_control_form_id', remote: true}) do |form| %>
    <%= hidden_field_tag :project_control_id, @project_control.id %>
    <%= hidden_field_tag :user_id, current_user.id %>
    <% if @project_control.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(control.errors.count, "error") %> prohibited this control from being saved:</h2>

        <ul>
        <% control.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <div class="field">
        <div class="card">
          <h5 class="card-header">Applicability</h5>
          <div class="card-body">
            <div class="row no-gutters">
              <div class="input-group">
                <%= form.text_area :applicability, id: :project_control_applicability, class: "form-control", rows:1, :readonly => true %>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <a class="btn btn-primary dropdown-toggle" data-toggle="collapse" href="#app_comments" role="button" aria-expanded="false" aria-controls="app_comments"> Comments</a>
            <div class="collapse" id="app_comments"><br>
              <div class="comments col-md-9" id="comments_applicability">
                <% get_history('Applicability').each do |history| %>
                  <div class="comment mb-2 row">
                    <% if history.is_reply_to == -1%>
                      <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
                          <% if File.file?("app/assets/images/profile_pics/" + User.find(history.user_id).profile_pic_name) %>
                            <a href=""><%= image_tag "profile_pics/" + User.find(history.user_id).profile_pic_name, class: "mx-auto rounded-circle img-fluid" %></a>
                          <% else %>
                            <a href=""><%= image_tag "default_profile_pic.jpeg", class: "mx-auto rounded-circle img-fluid" %></a>
                          <% end %>
                      </div>
                      <div class="comment-content col-md-11 col-sm-10">
                          <h6 class="small comment-meta"><a href="<%= show_user_path(history.user_id) %>"><%= User.find(history.user_id).email %></a><%= history.created_at %></h6>
                          <div class="comment-body">
                              <p>
                                  <%= history.comment %>
                                  <br>
                                  <a lass="btn btn-primary" data-toggle="collapse" href="#history_reply_app_<%=history.id%>" role="button" aria-expanded="false" aria-controls="history_reply_app_<%history.id%>"><i class="ion-reply"></i> Reply</a>
                                  <div class="collapse" id="history_reply_app_<%=history.id%>">
                                    <div class="input-group">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text">Comment</span>
                                      </div>
                                      <%= form.text_area :status_comment, id: 'history_reply_app_id_' + history.id.to_s, class: "form-control", rows:1, placeholder: "Reply" %>
                                      <div class="input-group-append">
                                        <span role="button" class="btn btn-icon waves-effect waves-light btn-danger" onclick="add_history($('#project_control_id').val(), 'Applicability', $('#history_reply_app_id_<%=history.id%>').val(), <%= history.id %>, $('#user_id').val())">
                                          <i class="ti-plus"></i>
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                              </p>
                          </div>
                      </div>
                    <% else %>
                      <!-- reply is indented -->
                      <div class="comment-reply col-md-11 offset-md-1 col-sm-10 offset-sm-2">
                          <div class="row">
                              <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
                                <% if File.file?("app/assets/images/profile_pics/" + User.find(history.user_id).profile_pic_name) %>
                                  <a href=""><%= image_tag "profile_pics/" + User.find(history.user_id).profile_pic_name, class: "mx-auto rounded-circle img-fluid" %></a>
                                <% else %>
                                  <a href=""><%= image_tag "default_profile_pic.jpeg", class: "mx-auto rounded-circle img-fluid" %></a>
                                <% end %>
                              </div>
                              <div class="comment-content col-md-11 col-sm-10 col-12">
                                  <h6 class="small comment-meta"><a href="<%= show_user_path(history.user_id) %>"><%= User.find(history.user_id).email %> </a><%= history.created_at %></h6>
                                  <div class="comment-body">
                                      <p><%= history.comment %>
                                          <br>
                                          <a lass="btn btn-primary" data-toggle="collapse" href="#history_reply_reply_app_<%=history.id%>" role="button" aria-expanded="false" aria-controls="history_reply_reply_<%=history.id%>"><i class="ion-reply"></i> Reply</a>
                                          <div class="collapse" id="history_reply_reply_app_<%=history.id%>">
                                            <div class="input-group">
                                              <div class="input-group-prepend">
                                                <span class="input-group-text">Comment</span>
                                              </div>
                                              <%= form.text_area :status_comment, id: 'history_reply_reply_app_id_' + history.id.to_s, class: "form-control", rows:1, placeholder: "Reply" %>
                                              <div class="input-group-append">
                                                <span role="button" class="btn btn-icon waves-effect waves-light btn-danger" onclick="add_history($('#project_control_id').val(), 'Applicability', $('#history_reply_reply_app_id_<%=history.id.to_s%>').val(), <%= history.id %>, $('#user_id').val())">
                                                  <i class="ti-plus"></i>
                                                </span>
                                              </div>
                                            </div>
                                          </div>
                                      </p>
                                  </div>
                              </div>
                          </div>
                     </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
              <div class="row no-gutters h-100">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Comment</span>
                  </div>
                  <%= form.text_area :status_comment, id: :project_control_status_comment, class: "form-control", rows:1, placeholder: "Comment" %>
                  <div class="input-group-append">
                    <span role="button" class="btn btn-dark waves-effect waves-light" onclick="add_history($('#project_control_id').val(), 'Applicability', $('#project_control_status_comment').val(), -1, $('#user_id').val())">
                      <i class="ti-plus"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="field">
        <div class="card">
          <h5 class="card-header">Title
            : (SRG Title <i class="mdi mdi-information-outline" data-toggle="popover" data-content="<%= SrgControl.find_by(srg_title_id: @project_control.srg_title_id).title %>" id="srg_title_pop"></i> )
          </h5>
          <div class="card-body">
            <div class="row no-gutters">
              <div class="input-group">
                <%= form.text_area :title, id: :project_control_title, class: "form-control", rows:2, :readonly => true %>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <a class="btn btn-primary dropdown-toggle" data-toggle="collapse" href="#tit_comments" role="button" aria-expanded="false" aria-controls="tit_comments"> Comments</a>
            <div class="collapse" id="tit_comments"><br>
              <div class="comments col-md-9" id="comments_title">
                <% get_history('Title').each do |history| %>
                  <div class="comment mb-2 row">
                    <% if history.is_reply_to == -1%>
                      <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
                        <% if File.file?("app/assets/images/profile_pics/" + User.find(history.user_id).profile_pic_name) %>
                          <a href=""><%= image_tag "profile_pics/" + User.find(history.user_id).profile_pic_name, class: "mx-auto rounded-circle img-fluid" %></a>
                        <% else %>
                          <a href=""><%= image_tag "default_profile_pic.jpeg", class: "mx-auto rounded-circle img-fluid" %></a>
                        <% end %>
                      </div>
                      <div class="comment-content col-md-11 col-sm-10">
                          <h6 class="small comment-meta"><a href="<%= show_user_path(history.user_id) %>"><%= User.find(history.user_id).email %></a><%= history.created_at %></h6>
                          <div class="comment-body">
                              <p>
                                  <%= history.comment %>
                                  <br>
                                  <a lass="btn btn-primary" data-toggle="collapse" href="#history_reply_tit_<%=history.id%>" role="button" aria-expanded="false" aria-controls="history_reply_tit_<%history.id%>"><i class="ion-reply"></i> Reply</a>
                                  <div class="collapse" id="history_reply_tit_<%=history.id%>">
                                    <div class="input-group">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text">Comment</span>
                                      </div>
                                      <%= form.text_area :status_comment, id: 'history_reply_tit_id_' + history.id.to_s, class: "form-control", rows:1, placeholder: "Reply" %>
                                      <div class="input-group-append">
                                        <span role="button" class="btn btn-icon waves-effect waves-light btn-danger" onclick="add_history($('#project_control_id').val(), 'Title', $('#history_reply_tit_id_<%=history.id%>').val(), <%= history.id %>, $('#user_id').val())">
                                          <i class="ti-plus"></i>
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                              </p>
                          </div>
                      </div>
                    <% else %>
                      <!-- reply is indented -->
                      <div class="comment-reply col-md-11 offset-md-1 col-sm-10 offset-sm-2">
                          <div class="row">
                              <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
                                <% if File.file?("app/assets/images/profile_pics/" + User.find(history.user_id).profile_pic_name) %>
                                  <a href=""><%= image_tag "profile_pics/" + User.find(history.user_id).profile_pic_name, class: "mx-auto rounded-circle img-fluid" %></a>
                                <% else %>
                                  <a href=""><%= image_tag "default_profile_pic.jpeg", class: "mx-auto rounded-circle img-fluid" %></a>
                                <% end %>
                              </div>
                              <div class="comment-content col-md-11 col-sm-10 col-12">
                                  <h6 class="small comment-meta"><a href="<%= show_user_path(history.user_id) %>"><%= User.find(history.user_id).email %> </a><%= history.created_at %></h6>
                                  <div class="comment-body">
                                      <p><%= history.comment %>
                                          <br>
                                          <a lass="btn btn-primary" data-toggle="collapse" href="#history_reply_reply_tit_<%=history.id%>" role="button" aria-expanded="false" aria-controls="history_reply_reply_tit<%=history.id%>"><i class="ion-reply"></i> Reply</a>
                                          <div class="collapse" id="history_reply_reply_tit_<%=history.id%>">
                                            <div class="input-group">
                                              <div class="input-group-prepend">
                                                <span class="input-group-text">Comment</span>
                                              </div>
                                              <%= form.text_area :status_comment, id: 'history_reply_reply_tit_id_' + history.id.to_s, class: "form-control", rows:1, placeholder: "Reply" %>
                                              <div class="input-group-append">
                                                <span role="button" class="btn btn-icon waves-effect waves-light btn-danger" onclick="add_history($('#project_control_id').val(), 'Title', $('#history_reply_reply_tit_id_<%=history.id.to_s%>').val(), <%= history.id %>, $('#user_id').val())">
                                                  <i class="ti-plus"></i>
                                                </span>
                                              </div>
                                            </div>
                                          </div>
                                      </p>
                                  </div>
                              </div>
                          </div>
                     </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
              <div class="row no-gutters h-100">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Comment</span>
                  </div>
                  <%= form.text_area :title_comment, id: :project_control_title_comment, class: "form-control", rows:1, placeholder: "Comment" %>
                  <div class="input-group-append">
                    <span role="button" class="btn btn-dark waves-effect waves-light" onclick="add_history($('#project_control_id').val(), 'Title', $('#project_control_title_comment').val(), -1, $('#user_id').val())">
                      <i class="ti-plus"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      
      <div class="field">
        <div class="card">
          <h5 class="card-header">Description
            : (SRG Description <i class="mdi mdi-information-outline" data-toggle="popover" data-content="<%= SrgControl.find_by(srg_title_id: @project_control.srg_title_id).description %>" id="srg_desc_pop"></i> )
          </h5>
          <div class="card-body">
            <div class="row no-gutters">
              <div class="input-group">
                <%= form.text_area :description, id: :project_control_description, class: "form-control", rows:2, :readonly => true %>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <a class="btn btn-primary dropdown-toggle" data-toggle="collapse" href="#desc_comments" role="button" aria-expanded="false" aria-controls="desc_comments"> Comments</a>
            <div class="collapse" id="desc_comments"><br>
              <div class="comments col-md-9" id="comments_desc">
                <% get_history('Description').each do |history| %>
                  <div class="comment mb-2 row">
                    <% if history.is_reply_to == -1%>
                      <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
                        <% if File.file?("app/assets/images/profile_pics/" + User.find(history.user_id).profile_pic_name) %>
                          <a href=""><%= image_tag "profile_pics/" + User.find(history.user_id).profile_pic_name, class: "mx-auto rounded-circle img-fluid" %></a>
                        <% else %>
                          <a href=""><%= image_tag "default_profile_pic.jpeg", class: "mx-auto rounded-circle img-fluid" %></a>
                        <% end %>
                      </div>
                      <div class="comment-content col-md-11 col-sm-10">
                          <h6 class="small comment-meta"><a href="<%= show_user_path(history.user_id) %>"><%= User.find(history.user_id).email %></a><%= history.created_at %></h6>
                          <div class="comment-body">
                              <p>
                                  <%= history.comment %>
                                  <br>
                                  <a lass="btn btn-primary" data-toggle="collapse" href="#history_reply_desc_<%=history.id%>" role="button" aria-expanded="false" aria-controls="history_reply_desc_<%history.id%>"><i class="ion-reply"></i> Reply</a>
                                  <div class="collapse" id="history_reply_desc_<%=history.id%>">
                                    <div class="input-group">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text">Comment</span>
                                      </div>
                                      <%= form.text_area :status_comment, id: 'history_reply_desc_id_' + history.id.to_s, class: "form-control", rows:1, placeholder: "Reply" %>
                                      <div class="input-group-append">
                                        <span role="button" class="btn btn-icon waves-effect waves-light btn-danger" onclick="add_history($('#project_control_id').val(), 'Description', $('#history_reply_desc_id_<%=history.id%>').val(), <%= history.id %>, $('#user_id').val())">
                                          <i class="ti-plus"></i>
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                              </p>
                          </div>
                      </div>
                    <% else %>
                      <!-- reply is indented -->
                      <div class="comment-reply col-md-11 offset-md-1 col-sm-10 offset-sm-2">
                          <div class="row">
                              <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
                                <% if File.file?("app/assets/images/profile_pics/" + User.find(history.user_id).profile_pic_name) %>
                                  <a href=""><%= image_tag "profile_pics/" + User.find(history.user_id).profile_pic_name, class: "mx-auto rounded-circle img-fluid" %></a>
                                <% else %>
                                  <a href=""><%= image_tag "default_profile_pic.jpeg", class: "mx-auto rounded-circle img-fluid" %></a>
                                <% end %>
                              </div>
                              <div class="comment-content col-md-11 col-sm-10 col-12">
                                  <h6 class="small comment-meta"><a href="<%= show_user_path(history.user_id) %>"><%= User.find(history.user_id).email %> </a><%= history.created_at %></h6>
                                  <div class="comment-body">
                                      <p><%= history.comment %>
                                          <br>
                                          <a lass="btn btn-primary" data-toggle="collapse" href="#history_reply_reply_desc_<%=history.id%>" role="button" aria-expanded="false" aria-controls="history_reply_reply_desc_<%=history.id%>"><i class="ion-reply"></i> Reply</a>
                                          <div class="collapse" id="history_reply_reply_desc_<%=history.id%>">
                                            <div class="input-group">
                                              <div class="input-group-prepend">
                                                <span class="input-group-text">Comment</span>
                                              </div>
                                              <%= form.text_area :status_comment, id: 'history_reply_reply_desc_id_' + history.id.to_s, class: "form-control", rows:1, placeholder: "Reply" %>
                                              <div class="input-group-append">
                                                <span role="button" class="btn btn-icon waves-effect waves-light btn-danger" onclick="add_history($('#project_control_id').val(), 'Description', $('#history_reply_reply_desc_id_<%=history.id.to_s%>').val(), <%= history.id %>, $('#user_id').val())">
                                                  <i class="ti-plus"></i>
                                                </span>
                                              </div>
                                            </div>
                                          </div>
                                      </p>
                                  </div>
                              </div>
                          </div>
                     </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
              <div class="row no-gutters h-100">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Comment</span>
                  </div>
                  <%= form.text_area :desc_comment, id: :project_control_desc_comment, class: "form-control", rows:1, placeholder: "Comment" %>
                  <div class="input-group-append">
                    <span role="button" class="btn btn-dark waves-effect waves-light" onclick="add_history($('#project_control_id').val(), 'Description', $('#project_control_desc_comment').val(), -1, $('#user_id').val())">
                      <i class="ti-plus"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="field">
        <div class="card">
          <h5 class="card-header">Impact
            : (SRG Impact <i class="mdi mdi-information-outline" data-toggle="popover" data-content="<%= SrgControl.find_by(srg_title_id: @project_control.srg_title_id).severity %>" id="srg_sev_pop"></i> )
          </h5>
          <div class="card-body">
            <div class="row no-gutters">
              <div class="input-group">
                <%= form.text_area :impact, id: :project_control_impact, class: "form-control", rows:2, :readonly => true %>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <a class="btn btn-primary dropdown-toggle" data-toggle="collapse" href="#imp_comments" role="button" aria-expanded="false" aria-controls="imp_comments"> Comments</a>
            <div class="collapse" id="imp_comments"><br>
              <div class="comments col-md-9" id="comments_imp">
                <% get_history('Impact').each do |history| %>
                  <div class="comment mb-2 row">
                    <% if history.is_reply_to == -1%>
                      <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
                        <% if File.file?("app/assets/images/profile_pics/" + User.find(history.user_id).profile_pic_name) %>
                          <a href=""><%= image_tag "profile_pics/" + User.find(history.user_id).profile_pic_name, class: "mx-auto rounded-circle img-fluid" %></a>
                        <% else %>
                          <a href=""><%= image_tag "default_profile_pic.jpeg", class: "mx-auto rounded-circle img-fluid" %></a>
                        <% end %>
                      </div>
                      <div class="comment-content col-md-11 col-sm-10">
                          <h6 class="small comment-meta"><a href="<%= show_user_path(history.user_id) %>"><%= User.find(history.user_id).email %></a><%= history.created_at %></h6>
                          <div class="comment-body">
                              <p>
                                  <%= history.comment %>
                                  <br>
                                  <a lass="btn btn-primary" data-toggle="collapse" href="#history_reply_imp_<%=history.id%>" role="button" aria-expanded="false" aria-controls="history_reply_imp_<%history.id%>"><i class="ion-reply"></i> Reply</a>
                                  <div class="collapse" id="history_reply_imp_<%=history.id%>">
                                    <div class="input-group">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text">Comment</span>
                                      </div>
                                      <%= form.text_area :status_comment, id: 'history_reply_imp_id_' + history.id.to_s, class: "form-control", rows:1, placeholder: "Reply" %>
                                      <div class="input-group-append">
                                        <span role="button" class="btn btn-icon waves-effect waves-light btn-danger" onclick="add_history($('#project_control_id').val(), 'Impact', $('#history_reply_imp_id_<%=history.id%>').val(), <%= history.id %>, $('#user_id').val())">
                                          <i class="ti-plus"></i>
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                              </p>
                          </div>
                      </div>
                    <% else %>
                      <!-- reply is indented -->
                      <div class="comment-reply col-md-11 offset-md-1 col-sm-10 offset-sm-2">
                          <div class="row">
                              <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
                                <% if File.file?("app/assets/images/profile_pics/" + User.find(history.user_id).profile_pic_name) %>
                                  <a href=""><%= image_tag "profile_pics/" + User.find(history.user_id).profile_pic_name, class: "mx-auto rounded-circle img-fluid" %></a>
                                <% else %>
                                  <a href=""><%= image_tag "default_profile_pic.jpeg", class: "mx-auto rounded-circle img-fluid" %></a>
                                <% end %>
                              </div>
                              <div class="comment-content col-md-11 col-sm-10 col-12">
                                  <h6 class="small comment-meta"><a href="<%= show_user_path(history.user_id) %>"><%= User.find(history.user_id).email %> </a><%= history.created_at %></h6>
                                  <div class="comment-body">
                                      <p><%= history.comment %>
                                          <br>
                                          <a lass="btn btn-primary" data-toggle="collapse" href="#history_reply_reply_imp_<%=history.id%>" role="button" aria-expanded="false" aria-controls="history_reply_reply_imp_<%=history.id%>"><i class="ion-reply"></i> Reply</a>
                                          <div class="collapse" id="history_reply_reply_imp_<%=history.id%>">
                                            <div class="input-group">
                                              <div class="input-group-prepend">
                                                <span class="input-group-text">Comment</span>
                                              </div>
                                              <%= form.text_area :status_comment, id: 'history_reply_reply_imp_id_' + history.id.to_s, class: "form-control", rows:1, placeholder: "Reply" %>
                                              <div class="input-group-append">
                                                <span role="button" class="btn btn-icon waves-effect waves-light btn-danger" onclick="add_history($('#project_control_id').val(), 'Impact', $('#history_reply_reply_imp_id_<%=history.id.to_s%>').val(), <%= history.id %>, $('#user_id').val())">
                                                  <i class="ti-plus"></i>
                                                </span>
                                              </div>
                                            </div>
                                          </div>
                                      </p>
                                  </div>
                              </div>
                          </div>
                     </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
              <div class="row no-gutters h-100">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Comment</span>
                  </div>
                  <%= form.text_area :imp_comment, id: :project_control_imp_comment, class: "form-control", rows:1, placeholder: "Comment" %>
                  <div class="input-group-append">
                    <span role="button" class="btn btn-dark waves-effect waves-light" onclick="add_history($('#project_control_id').val(), 'Impact', $('#project_control_imp_comment').val(), -1, $('#user_id').val())">
                      <i class="ti-plus"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="field">
        <div class="card">
          <h5 class="card-header">Justification</h5>
          <div class="card-body">
            <div class="row no-gutters">
              <div class="input-group">
                <%= form.text_area :justification, id: :project_control_justification, class: "form-control", rows:2, :readonly => true %>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <a class="btn btn-primary dropdown-toggle" data-toggle="collapse" href="#just_comments" role="button" aria-expanded="false" aria-controls="just_comments"> Comments</a>
            <div class="collapse" id="just_comments"><br>
              <div class="comments col-md-9" id="comments_just">
                <% get_history('Justification').each do |history| %>
                  <div class="comment mb-2 row">
                    <% if history.is_reply_to == -1%>
                      <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
                        <% if File.file?("app/assets/images/profile_pics/" + User.find(history.user_id).profile_pic_name) %>
                          <a href=""><%= image_tag "profile_pics/" + User.find(history.user_id).profile_pic_name, class: "mx-auto rounded-circle img-fluid" %></a>
                        <% else %>
                          <a href=""><%= image_tag "default_profile_pic.jpeg", class: "mx-auto rounded-circle img-fluid" %></a>
                        <% end %>
                      </div>
                      <div class="comment-content col-md-11 col-sm-10">
                          <h6 class="small comment-meta"><a href="<%= show_user_path(history.user_id) %>"><%= User.find(history.user_id).email %></a><%= history.created_at %></h6>
                          <div class="comment-body">
                              <p>
                                  <%= history.comment %>
                                  <br>
                                  <a lass="btn btn-primary" data-toggle="collapse" href="#history_reply_just_<%=history.id%>" role="button" aria-expanded="false" aria-controls="history_reply_just_<%history.id%>"><i class="ion-reply"></i> Reply</a>
                                  <div class="collapse" id="history_reply_just_<%=history.id%>">
                                    <div class="input-group">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text">Comment</span>
                                      </div>
                                      <%= form.text_area :status_comment, id: 'history_reply_just_id_' + history.id.to_s, class: "form-control", rows:1, placeholder: "Reply" %>
                                      <div class="input-group-append">
                                        <span role="button" class="btn btn-icon waves-effect waves-light btn-danger" onclick="add_history($('#project_control_id').val(), 'Justification', $('#history_reply_just_id_<%=history.id%>').val(), <%= history.id %>, $('#user_id').val())">
                                          <i class="ti-plus"></i>
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                              </p>
                          </div>
                      </div>
                    <% else %>
                      <!-- reply is indented -->
                      <div class="comment-reply col-md-11 offset-md-1 col-sm-10 offset-sm-2">
                          <div class="row">
                              <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
                                <% if File.file?("app/assets/images/profile_pics/" + User.find(history.user_id).profile_pic_name) %>
                                  <a href=""><%= image_tag "profile_pics/" + User.find(history.user_id).profile_pic_name, class: "mx-auto rounded-circle img-fluid" %></a>
                                <% else %>
                                  <a href=""><%= image_tag "default_profile_pic.jpeg", class: "mx-auto rounded-circle img-fluid" %></a>
                                <% end %>
                              </div>
                              <div class="comment-content col-md-11 col-sm-10 col-12">
                                  <h6 class="small comment-meta"><a href="<%= show_user_path(history.user_id) %>"><%= User.find(history.user_id).email %> </a><%= history.created_at %></h6>
                                  <div class="comment-body">
                                      <p><%= history.comment %>
                                          <br>
                                          <a lass="btn btn-primary" data-toggle="collapse" href="#history_reply_reply_just_<%=history.id%>" role="button" aria-expanded="false" aria-controls="history_reply_reply_just_<%=history.id%>"><i class="ion-reply"></i> Reply</a>
                                          <div class="collapse" id="history_reply_reply_just_<%=history.id%>">
                                            <div class="input-group">
                                              <div class="input-group-prepend">
                                                <span class="input-group-text">Comment</span>
                                              </div>
                                              <%= form.text_area :status_comment, id: 'history_reply_reply_just_id_' + history.id.to_s, class: "form-control", rows:1, placeholder: "Reply" %>
                                              <div class="input-group-append">
                                                <span role="button" class="btn btn-icon waves-effect waves-light btn-danger" onclick="add_history($('#project_control_id').val(), 'Justification', $('#history_reply_reply_just_id_<%=history.id.to_s%>').val(), <%= history.id %>, $('#user_id').val())">
                                                  <i class="ti-plus"></i>
                                                </span>
                                              </div>
                                            </div>
                                          </div>
                                      </p>
                                  </div>
                              </div>
                          </div>
                     </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
              <div class="row no-gutters h-100">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Comment</span>
                  </div>
                  <%= form.text_area :just_comment, id: :project_control_just_comment, class: "form-control", rows:1, placeholder: "Comment" %>
                  <div class="input-group-append">
                    <span role="button" class="btn btn-dark waves-effect waves-light" onclick="add_history($('#project_control_id').val(), 'Justification', $('#project_control_just_comment').val(), -1, $('#user_id').val())">
                      <i class="ti-plus"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="field">
        <div class="card">
          <h5 class="card-header">Check Text
            : (SRG Check Text <i class="mdi mdi-information-outline" data-toggle="popover" data-content="<%= SrgControl.find_by(srg_title_id: @project_control.srg_title_id).checktext %>" id="srg_ck_pop"></i> )
          </h5>
          <div class="card-body">
            <div class="row no-gutters">
              <div class="input-group">
                <%= form.text_area :checktext, id: :project_control_checktext, class: "form-control", rows:2, :readonly => true %>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <a class="btn btn-primary dropdown-toggle" data-toggle="collapse" href="#check_comments" role="button" aria-expanded="false" aria-controls="check_comments"> Comments</a>
            <div class="collapse" id="check_comments"><br>
              <div class="comments col-md-9" id="comments_check">
                <% get_history('Check Text').each do |history| %>
                  <div class="comment mb-2 row">
                    <% if history.is_reply_to == -1%>
                      <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
                        <% if File.file?("app/assets/images/profile_pics/" + User.find(history.user_id).profile_pic_name) %>
                          <a href=""><%= image_tag "profile_pics/" + User.find(history.user_id).profile_pic_name, class: "mx-auto rounded-circle img-fluid" %></a>
                        <% else %>
                          <a href=""><%= image_tag "default_profile_pic.jpeg", class: "mx-auto rounded-circle img-fluid" %></a>
                        <% end %>
                      </div>
                      <div class="comment-content col-md-11 col-sm-10">
                          <h6 class="small comment-meta"><a href="<%= show_user_path(history.user_id) %>"><%= User.find(history.user_id).email %></a><%= history.created_at %></h6>
                          <div class="comment-body">
                              <p>
                                  <%= history.comment %>
                                  <br>
                                  <a lass="btn btn-primary" data-toggle="collapse" href="#history_reply_check_<%=history.id%>" role="button" aria-expanded="false" aria-controls="history_reply_check_<%history.id%>"><i class="ion-reply"></i> Reply</a>
                                  <div class="collapse" id="history_reply_check_<%=history.id%>">
                                    <div class="input-group">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text">Comment</span>
                                      </div>
                                      <%= form.text_area :status_comment, id: 'history_reply_check_id_' + history.id.to_s, class: "form-control", rows:1, placeholder: "Reply" %>
                                      <div class="input-group-append">
                                        <span role="button" class="btn btn-icon waves-effect waves-light btn-danger" onclick="add_history($('#project_control_id').val(), 'Check Text', $('#history_reply_check_id_<%=history.id%>').val(), <%= history.id %>, $('#user_id').val())">
                                          <i class="ti-plus"></i>
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                              </p>
                          </div>
                      </div>
                    <% else %>
                      <!-- reply is indented -->
                      <div class="comment-reply col-md-11 offset-md-1 col-sm-10 offset-sm-2">
                          <div class="row">
                              <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
                                <% if File.file?("app/assets/images/profile_pics/" + User.find(history.user_id).profile_pic_name) %>
                                  <a href=""><%= image_tag "profile_pics/" + User.find(history.user_id).profile_pic_name, class: "mx-auto rounded-circle img-fluid" %></a>
                                <% else %>
                                  <a href=""><%= image_tag "default_profile_pic.jpeg", class: "mx-auto rounded-circle img-fluid" %></a>
                                <% end %>
                              </div>
                              <div class="comment-content col-md-11 col-sm-10 col-12">
                                  <h6 class="small comment-meta"><a href="<%= show_user_path(history.user_id) %>"><%= User.find(history.user_id).email %> </a><%= history.created_at %></h6>
                                  <div class="comment-body">
                                      <p><%= history.comment %>
                                          <br>
                                          <a lass="btn btn-primary" data-toggle="collapse" href="#history_reply_reply_desc_<%=history.id%>" role="button" aria-expanded="false" aria-controls="history_reply_reply_check_<%=history.id%>"><i class="ion-reply"></i> Reply</a>
                                          <div class="collapse" id="history_reply_reply_check_<%=history.id%>">
                                            <div class="input-group">
                                              <div class="input-group-prepend">
                                                <span class="input-group-text">Comment</span>
                                              </div>
                                              <%= form.text_area :status_comment, id: 'history_reply_reply_check_id_' + history.id.to_s, class: "form-control", rows:1, placeholder: "Reply" %>
                                              <div class="input-group-append">
                                                <span role="button" class="btn btn-icon waves-effect waves-light btn-danger" onclick="add_history($('#project_control_id').val(), 'Check Text', $('#history_reply_reply_check_id_<%=history.id.to_s%>').val(), <%= history.id %>, $('#user_id').val())">
                                                  <i class="ti-plus"></i>
                                                </span>
                                              </div>
                                            </div>
                                          </div>
                                      </p>
                                  </div>
                              </div>
                          </div>
                     </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
              <div class="row no-gutters h-100">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Comment</span>
                  </div>
                  <%= form.text_area :check_comment, id: :project_control_check_comment, class: "form-control", rows:1, placeholder: "Comment" %>
                  <div class="input-group-append">
                    <span role="button" class="btn btn-dark waves-effect waves-light" onclick="add_history($('#project_control_id').val(), 'Check Text', $('#project_control_check_comment').val(), -1, $('#user_id').val())">
                      <i class="ti-plus"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="field">
        <div class="card">
          <h5 class="card-header">Fix Text
            : (SRG Fix Text <i class="mdi mdi-information-outline" data-toggle="popover" data-content="<%= SrgControl.find_by(srg_title_id: @project_control.srg_title_id).fixtext %>" id="srg_fx_pop"></i> )
          </h5>
          <div class="card-body">
            <div class="row no-gutters">
              <div class="input-group">
                <%= form.text_area :fixtext, id: :project_control_fixtext, class: "form-control", rows:2, :readonly => true %>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <a class="btn btn-primary dropdown-toggle" data-toggle="collapse" href="#fix_comments" role="button" aria-expanded="false" aria-controls="fix_comments"> Comments</a>
            <div class="collapse" id="fix_comments"><br>
              <div class="comments col-md-9" id="comments_fix">
                <% get_history('Fix Text').each do |history| %>
                  <div class="comment mb-2 row">
                    <% if history.is_reply_to == -1%>
                      <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
                        <% if File.file?("app/assets/images/profile_pics/" + User.find(history.user_id).profile_pic_name) %>
                          <a href=""><%= image_tag "profile_pics/" + User.find(history.user_id).profile_pic_name, class: "mx-auto rounded-circle img-fluid" %></a>
                        <% else %>
                          <a href=""><%= image_tag "default_profile_pic.jpeg", class: "mx-auto rounded-circle img-fluid" %></a>
                        <% end %>
                      </div>
                      <div class="comment-content col-md-11 col-sm-10">
                          <h6 class="small comment-meta"><a href="<%= show_user_path(history.user_id) %>"><%= User.find(history.user_id).email %></a><%= history.created_at %></h6>
                          <div class="comment-body">
                              <p>
                                  <%= history.comment %>
                                  <br>
                                  <a lass="btn btn-primary" data-toggle="collapse" href="#history_reply_fix_<%=history.id%>" role="button" aria-expanded="false" aria-controls="history_reply_fix_<%history.id%>"><i class="ion-reply"></i> Reply</a>
                                  <div class="collapse" id="history_reply_fix_<%=history.id%>">
                                    <div class="input-group">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text">Comment</span>
                                      </div>
                                      <%= form.text_area :status_comment, id: 'history_reply_fix_id_' + history.id.to_s, class: "form-control", rows:1, placeholder: "Reply" %>
                                      <div class="input-group-append">
                                        <span role="button" class="btn btn-icon waves-effect waves-light btn-danger" onclick="add_history($('#project_control_id').val(), 'Fix Text', $('#history_reply_fix_id_<%=history.id%>').val(), <%= history.id %>, $('#user_id').val())">
                                          <i class="ti-plus"></i>
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                              </p>
                          </div>
                      </div>
                    <% else %>
                      <!-- reply is indented -->
                      <div class="comment-reply col-md-11 offset-md-1 col-sm-10 offset-sm-2">
                          <div class="row">
                              <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
                                <% if File.file?("app/assets/images/profile_pics/" + User.find(history.user_id).profile_pic_name) %>
                                  <a href=""><%= image_tag "profile_pics/" + User.find(history.user_id).profile_pic_name, class: "mx-auto rounded-circle img-fluid" %></a>
                                <% else %>
                                  <a href=""><%= image_tag "default_profile_pic.jpeg", class: "mx-auto rounded-circle img-fluid" %></a>
                                <% end %>
                              </div>
                              <div class="comment-content col-md-11 col-sm-10 col-12">
                                  <h6 class="small comment-meta"><a href="<%= show_user_path(history.user_id) %>"><%= User.find(history.user_id).email %> </a><%= history.created_at %></h6>
                                  <div class="comment-body">
                                      <p><%= history.comment %>
                                          <br>
                                          <a lass="btn btn-primary" data-toggle="collapse" href="#history_reply_reply_fix_<%=history.id%>" role="button" aria-expanded="false" aria-controls="history_reply_reply_fix_<%=history.id%>"><i class="ion-reply"></i> Reply</a>
                                          <div class="collapse" id="history_reply_reply_fix_<%=history.id%>">
                                            <div class="input-group">
                                              <div class="input-group-prepend">
                                                <span class="input-group-text">Comment</span>
                                              </div>
                                              <%= form.text_area :status_comment, id: 'history_reply_reply_fix_id_' + history.id.to_s, class: "form-control", rows:1, placeholder: "Reply" %>
                                              <div class="input-group-append">
                                                <span role="button" class="btn btn-icon waves-effect waves-light btn-danger" onclick="add_history($('#project_control_id').val(), 'Fix Text', $('#history_reply_reply_fix_id_<%=history.id.to_s%>').val(), <%= history.id %>, $('#user_id').val())">
                                                  <i class="ti-plus"></i>
                                                </span>
                                              </div>
                                            </div>
                                          </div>
                                      </p>
                                  </div>
                              </div>
                          </div>
                     </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
              <div class="row no-gutters h-100">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Comment</span>
                  </div>
                  <%= form.text_area :fix_comment, id: :project_control_fix_comment, class: "form-control", rows:1, placeholder: "Comment" %>
                  <div class="input-group-append">
                    <span role="button" class="btn btn-dark waves-effect waves-light" onclick="add_history($('#project_control_id').val(), 'Fix Text', $('#project_control_fix_comment').val(), -1, $('#user_id').val())">
                      <i class="ti-plus"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="field">
        <div class="card">
          <h5 class="card-header">InSpec Code</h5>
          <div class="card-body">
            <div class="row no-gutters">
              <div class="input-group">
                <%= form.text_area :code, id: :project_control_code, class: "form-control", rows:2, :readonly => true %>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <a class="btn btn-primary dropdown-toggle" data-toggle="collapse" href="#code_comments" role="button" aria-expanded="false" aria-controls="code_comments"> Comments</a>
            <div class="collapse" id="code_comments"><br>
              <div class="comments col-md-9" id="comments_code">
                <% get_history('InSpec Code').each do |history| %>
                  <div class="comment mb-2 row">
                    <% if history.is_reply_to == -1%>
                      <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
                        <% if File.file?("app/assets/images/profile_pics/" + User.find(history.user_id).profile_pic_name) %>
                          <a href=""><%= image_tag "profile_pics/" + User.find(history.user_id).profile_pic_name, class: "mx-auto rounded-circle img-fluid" %></a>
                        <% else %>
                          <a href=""><%= image_tag "default_profile_pic.jpeg", class: "mx-auto rounded-circle img-fluid" %></a>
                        <% end %>
                      </div>
                      <div class="comment-content col-md-11 col-sm-10">
                          <h6 class="small comment-meta"><a href="<%= show_user_path(history.user_id) %>"><%= User.find(history.user_id).email %></a><%= history.created_at %></h6>
                          <div class="comment-body">
                              <p>
                                  <%= history.comment %>
                                  <br>
                                  <a lass="btn btn-primary" data-toggle="collapse" href="#history_reply_code_<%=history.id%>" role="button" aria-expanded="false" aria-controls="history_reply_code_<%history.id%>"><i class="ion-reply"></i> Reply</a>
                                  <div class="collapse" id="history_reply_code_<%=history.id%>">
                                    <div class="input-group">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text">Comment</span>
                                      </div>
                                      <%= form.text_area :status_comment, id: 'history_reply_code_id_' + history.id.to_s, class: "form-control", rows:1, placeholder: "Reply" %>
                                      <div class="input-group-append">
                                        <span role="button" class="btn btn-icon waves-effect waves-light btn-danger" onclick="add_history($('#project_control_id').val(), 'InSpec Code', $('#history_reply_code_id_<%=history.id%>').val(), <%= history.id %>, $('#user_id').val())">
                                          <i class="ti-plus"></i>
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                              </p>
                          </div>
                      </div>
                    <% else %>
                      <!-- reply is indented -->
                      <div class="comment-reply col-md-11 offset-md-1 col-sm-10 offset-sm-2">
                          <div class="row">
                              <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
                                <% if File.file?("app/assets/images/profile_pics/" + User.find(history.user_id).profile_pic_name) %>
                                  <a href=""><%= image_tag "profile_pics/" + User.find(history.user_id).profile_pic_name, class: "mx-auto rounded-circle img-fluid" %></a>
                                <% else %>
                                  <a href=""><%= image_tag "default_profile_pic.jpeg", class: "mx-auto rounded-circle img-fluid" %></a>
                                <% end %>
                              </div>
                              <div class="comment-content col-md-11 col-sm-10 col-12">
                                  <h6 class="small comment-meta"><a href="<%= show_user_path(history.user_id) %>"><%= User.find(history.user_id).email %> </a><%= history.created_at %></h6>
                                  <div class="comment-body">
                                      <p><%= history.comment %>
                                          <br>
                                          <a lass="btn btn-primary" data-toggle="collapse" href="#history_reply_reply_code_<%=history.id%>" role="button" aria-expanded="false" aria-controls="history_reply_reply_code_<%=history.id%>"><i class="ion-reply"></i> Reply</a>
                                          <div class="collapse" id="history_reply_reply_code_<%=history.id%>">
                                            <div class="input-group">
                                              <div class="input-group-prepend">
                                                <span class="input-group-text">Comment</span>
                                              </div>
                                              <%= form.text_area :status_comment, id: 'history_reply_reply_code_id_' + history.id.to_s, class: "form-control", rows:1, placeholder: "Reply" %>
                                              <div class="input-group-append">
                                                <span role="button" class="btn btn-icon waves-effect waves-light btn-danger" onclick="add_history($('#project_control_id').val(), 'InSpec Code', $('#history_reply_reply_code_id_<%=history.id.to_s%>').val(), <%= history.id %>, $('#user_id').val())">
                                                  <i class="ti-plus"></i>
                                                </span>
                                              </div>
                                            </div>
                                          </div>
                                      </p>
                                  </div>
                              </div>
                          </div>
                     </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
              <div class="row no-gutters h-100">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Comment</span>
                  </div>
                  <%= form.text_area :code_comment, id: :project_control_code_comment, class: "form-control", rows:1, placeholder: "Comment" %>
                  <div class="input-group-append">
                    <span role="button" class="btn btn-dark waves-effect waves-light" onclick="add_history($('#project_control_id').val(), 'InSpec Code', $('#project_control_code_comment').val(), -1, $('#user_id').val())">
                      <i class="ti-plus"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  <% end %>
  <script>
    
    function add_history(project_control_id, project_control_attr, comment, is_reply_to, user_id) {
      console.log(comment);
      project_control_id = parseInt(project_control_id)
      $.ajax({
        url: "/add_history",
        type: "post",
        data: {'project_control_histories': {project_control_id, project_control_attr, comment, is_reply_to, user_id}},
        success: function(data) {
          console.log(data);
          url = '/project_controls/' + project_control_id + '/review_control';
          if ($('#reviewForm').length) {
            $('#reviewForm').empty();
          }
          $.ajax({
            url: url,
            type: "get",
            datatype: 'json',
            success: function(data) {
              $('#reviewForm').append(data);
            },
            error: function() {
              console.log("Error occured");
            }   
          });
        },
        error: function() {
          console.log("Error occured");
        }   
      });
    }
  
    $('#srg_title_pop').popover(); $('#srg_desc_pop').popover(); $('#srg_sev_pop').popover();
    $('#srg_ck_pop').popover(); $('#srg_fx_pop').popover();
  </script>
</div>