-# Shared left-rail nav for the user settings shell.
-# Pass `active:` (one of :profile, :password, :activity) so the matching
-# entry receives the `active` class. Password tab is hidden for users
-# whose account is provider-managed (no local password to change).
- active ||= :profile
.list-group.list-group-flush.user-settings-nav
  = link_to 'Profile Information', '/users/edit',
            class: "list-group-item list-group-item-action #{'active' if active == :profile}"
  - unless current_user.provider.present?
    = link_to 'Change Password', '/users/edit/password',
              class: "list-group-item list-group-item-action #{'active' if active == :password}"
  = link_to 'Activity', '/users/edit/activity',
            class: "list-group-item list-group-item-action #{'active' if active == :activity}"
  %hr.my-2
  = link_to 'My Comments', "/users/#{current_user.id}/comments",
            class: 'list-group-item list-group-item-action'
