- content_for :assets do
  = javascript_include_tag 'login'

= render layout: 'devise/shared/card_wrapper', locals: { icon: 'lock', title: 'Change Your Password' } do
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
    = render "devise/shared/error_messages", resource: resource
    = f.hidden_field :reset_password_token
    #login
      .form-group
        = f.label :password, "New password"
        %password-field{name: "user[password]", id: "user_password", autocomplete: "new-password", ":autofocus" => "true", ":policy" => Settings.password.to_json, "v-model" => "registerPassword"}
      .form-group
        = f.label :password_confirmation, "Confirm new password"
        %password-field{name: "user[password_confirmation]", id: "user_password_confirmation", autocomplete: "new-password", ":must-match" => "registerPassword"}
      .actions.mt-3
        = f.submit "Change my password", class: 'btn btn-success btn-block'
