= render layout: 'devise/shared/card_wrapper', locals: { icon: 'question-circle', title: 'Forgot Your Password?' } do
  - if Settings.smtp.enabled
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .form-group
        = f.label :email
        = f.email_field :email, autofocus: true, class: "form-control", autocomplete: "email", required: true
      .actions.mt-3
        = f.submit "Send me reset password instructions", class: 'btn btn-success btn-block'
  - else
    = render 'devise/shared/smtp_unavailable', action_description: 'reset your password'
