<p id="notice"><%= notice %></p>
<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><%= @srg.title %></h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <%= @srg.title %> Controls
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                          <table id="srg_controls_datatable" class="display">
                            <thead>
                              <tr>
                                <th>SRG ID</th>
                                <th>Severity</th>
                                <th>Title</th>
                                <th>Nist Families</th>
                                <th></th>
                              </tr>
                            </thead>

                            <tbody>
                              <% @srg.srg_controls.each do |srg_control| %>
                                <tr>
                                  <td><%= srg_control.srg_title_id %></td>
                                  <td><%= srg_control.severity %></td>
                                  <td><%= srg_control.title %></td>
                                    <% srg_control.nist_controls.each do |nist_control| %>
                                      <td><%= nist_control.family + '-' + nist_control.index %></td>
                                    <% end %>
                                  <td><%= link_to 'Show', srg_control %></td>
                                </tr>
                              <% end %>
                            </tbody>
                          </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <%= link_to 'Back', srgs_path %> 

                <!-- /.panel -->
            </div>
    </div>
</div>                      

<br>

<%= link_to 'New Srg Control', new_srg_control_path %>


