<div class="row">
  <h4 class="m-t-0 header-title" style="padding: 15px">Edit Project <%= @project.name %></h4>
<div>

<div class="row">
  <!-- Left sidebar -->
    <div class="col-xl-3 col-lg-4">
        <div class="controls_list" style="position: relative; overflow-y: scroll; height: 500px;">
            <div class="list-group">
              <% @project.project_controls.each do |project_control| %>
                <% if project_control.status.nil? %>
                  <button class="list-group-item list-group-item-action" onclick="render_form(<%= project_control.id %>);">
                    <div class="row">
                        Title: <%= project_control.title %> <br>
                        Nist Controls: <%= project_control.nist_controls.collect {|nist| nist.family + '-' + nist.index }%>
                    </div>
                  </button>
                <% elsif project_control.status == 'Not Applicable' %>
                  <button class="list-group-item list-group-item-action list-group-item-primary" onclick="render_form(<%= project_control.id %>);">
                    <div class="row">
                        Title: <%= project_control.title %> <br>
                        Nist Controls: <%= project_control.nist_controls.collect {|nist| nist.family + '-' + nist.index }%>
                    </div>
                  </button>
                <% elsif project_control.status == 'Applicable - Configurable' %>
                  <button class="list-group-item list-group-item-action list-group-item-success" onclick="render_form(<%= project_control.id %>);">
                    <div class="row">
                        Title: <%= project_control.title %> <br>
                        Nist Controls: <%= project_control.nist_controls.collect {|nist| nist.family + '-' + nist.index }%>
                    </div>
                  </button>
                <% elsif project_control.status == 'Applicable - Does Not Meet' %>
                  <button class="list-group-item list-group-item-action list-group-item-danger" onclick="render_form(<%= project_control.id %>);">
                    <div class="row">
                        Title: <%= project_control.title %> <br>
                        Nist Controls: <%= project_control.nist_controls.collect {|nist| nist.family + '-' + nist.index }%>
                    </div>
                  </button>
                <% elsif project_control.status == 'Applicable - Inherently Meets' %>
                  <button class="list-group-item list-group-item-action list-group-item-warning" onclick="render_form(<%= project_control.id %>);">
                    <div class="row">
                        Title: <%= project_control.title %> <br>
                        Nist Controls: <%= project_control.nist_controls.collect {|nist| nist.family + '-' + nist.index }%>
                    </div>
                  </button>
                <% end %>
              <% end %>
            </div>
        </div>
    </div>
    <!-- End Left sidebar -->
    <div class="col-xl-9 col-lg-8">
        <div class="row no-gutters">
            <div class="col-lg-12">
                <div class="card" id="form_card" style="position: relative; overflow-y: scroll; height: 500px;"></div>
            </div>
        </div>
    </div>
</div>

<script>
  $('[name="project_control[status]"]').on("change", add_fields)
  
  function render_form (control_id) {
    hsh = "#form_card";
    url = '/project_controls/' + control_id + '/edit';
    var card_holder = $(hsh);
    if ($('#form_holder').length) {
      $('#form_holder').remove();
    }
    $.ajax(url, {
        success: function(data) {
          var elements = $(data);
          var found = $('#edit_project_control_id', elements);
          card_holder.append('<div id="form_holder"></div>');
          $('#form_holder').append($(data).find('#edit_control_form_id').html());
          add_fields();
        },
        error: function() {
          console.log("Error occured");
        }
     }); 
  }
  
  function add_fields() {
    if ($('[name="project_control[status]"]').val() == 'Applicable - Does Not Meet') {
      $('#checktext_fields').show();
      $('#main_control_fields').hide();
      $('#justification_field').hide();
      $('#fixtext_fields').hide();
    }
    if ($('[name="project_control[status]"]').val() == 'Applicable - Configurable') {
      $('#justification_field').hide();
      $('#main_control_fields').show();
      $('#checktext_fields').show();
      $('#fixtext_fields').show();
    }
    if ($('[name="project_control[status]"]').val() == 'Applicable - Inherently Meets' || $('#project_control_status').val() == 'Not Applicable') {
      $('#justification_field').show();
      $('#main_control_fields').hide();
      $('#checktext_fields').hide();
      $('#fixtext_fields').hide();
    }
  }
</script>