<div class="row">
    <div class="col-lg-12">
      <div class="card-box">
        <div class="row">
          <div class="col-lg-12">
            <h4 class="m-t-0 header-title" style="padding: 15px">Edit Project <%= @project.name %></h4>
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col-lg-2">
            <h6>1. Filter NIST Family</h6>
            <div class="controls_list" style="position: relative; overflow-y: scroll; height: 500px;">
                <div class="list-group" id="nist_family_list">
                  <% @nist_families.each do |nist_family| %>
                    <div class='row'>
                      <div class='col-lg-12'>
                        <button class="list-group-item list-group-item-action" onclick="filter_controls_on_nist('<%= nist_family.short_title %>', <%= @project.project_controls.collect {|control| [control.control_id, control.nist_controls.collect {|nist_family| nist_family.family + '-' + nist_family.index}, control.id]} %>)">
                          <%= nist_family.long_title %>
                        </button>
                      </div>
                    </div>
                  <% end %>
                </div>
            </div>
          </div>
          
          <div class="col-lg-2">
              <h6>2. Select Control</h6>
              <div class="controls_list" style="position: relative; overflow-y: scroll; height: 500px;" id="controls_container">
                  <div class="list-group" id="controls_list">
                    <% @project.project_controls.each do |project_control| %>
                        <button class="list-group-item list-group-item-action" onclick="render_form('<%= project_control.id %>')">
                          <%= project_control.control_id %> - <%= project_control.nist_controls.collect {|nist| nist.family + '-' + nist.index }[0] %>
                        </button>
                    <% end %>
                  </div>
              </div>
          </div>
          
          <div class="col-lg-8">
              <div class="row">
                  <h6>3. Build Control</h6>
                  <div class="col-lg-12">
                      <div class="card" id="form_card" style="position: relative; overflow-y: scroll; height: 500px;"></div>
                  </div>
              </div>
          </div>
        </div>
      </div>
  </div>
</div>

<script>
  var ace_editor;
  ch_fx_sect = '';
  function filter_controls_on_nist(nist_family, project_controls) {
    $("#controls_list").empty();
    project_controls.forEach((control) =>{
      control[1].forEach((nist_control) =>{
        if(nist_control.indexOf(nist_family) != -1) {
          $("#controls_list").append('<button class="list-group-item list-group-item-action" onclick="render_form(' + control[2] + ')">' + control[0] + ' - ' + control[1][0] + '</button>');
        }
      })
    });
  }
  
  function render_form (control_id) {
    hsh = "#form_card";
    url = '/project_controls/' + control_id + '/edit';
    var card_holder = $(hsh);
    if ($('#form_holder').length) {
      $('#form_holder').remove();
    }
    $.ajax(url, {
        success: function(data) {
          var elements = $(data);
          var found = $('#edit_project_control_id', elements);
          card_holder.append('<div id="form_holder"></div>');
          ch_fx_sect = $(data).find('#ch_fx_sect').html();
          code_sect = $(data).find('#code_sect').html();
          $('#form_holder').append($(data).find('#edit_control_form_id').html());
          $('[name="project_control[status]"]').on("change", add_fields);
        },
        error: function() {
          console.log("Error occured");
        }
     }); 
  }
  
  function add_fields() {
    if ($('[name="project_control[status]"]').val() == 'Applicable - Configurable') {
      $('#justification_field').hide();
      $('#main_control_fields').show();
      $('.wizard').steps('add', { title: "Check and Fix Text", content: ch_fx_sect })
      $('.wizard').steps('add', { title: "InSpec Code", content: code_sect })
    } else if (($('[name="project_control[status]"]').val() == 'Applicable - Inherently Meets') || ($('[name="project_control[status]"]').val() == 'Not Applicable')
                || $('[name="project_control[status]"]').val() == 'Applicable - Does Not Meet') {
      $('#justification_field').show();
      $('#main_control_fields').hide();
      $('.wizard').steps('remove', Number(3));
      $('.wizard').steps('remove', Number(2));
    }
  }
</script>