<div class="row">
    <div class="col-lg-12">
      <div class="card-box">
        <div class="row">
          <div class="col-lg-12">
            <h4 class="m-t-0 header-title" style="padding: 15px">Edit Project <%= @project.name %></h4>
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col-lg-2">
            <h6>1. Filter NIST Family</h6>
            <div class="controls_list" style="position: relative; overflow-y: scroll; height: 500px;">
                <div class="list-group" id="nist_family_list">
                  <% @nist_families.each do |nist_family| %>
                    <div class='row'>
                      <div class='col-lg-12'>
                        <button class="list-group-item list-group-item-action" onclick="filter_controls_on_nist('<%= nist_family.short_title %>', <%= @project.project_controls.collect {|control| [control.control_id, control.nist_controls.collect {|nist_family| nist_family.family + '-' + nist_family.index}, control.id]} %>)">
                          <%= nist_family.long_title %>
                        </button>
                      </div>
                    </div>
                  <% end %>
                </div>
            </div>
          </div>
          
          <div class="col-lg-2">
              <h6>2. Select Control</h6>
              
              <div class="controls_list" style="position: relative; overflow-y: scroll; height: 500px;" id="controls_container">
                <div class="custom-dd-empty dd" id="satisfy_control_nestable_list">
                  <%= content_tag(:ol, class: "dd-list", id: :control_list, name: 'project[nestable_list]') do %>
                    <% @project.project_controls.select { |control| control.parent.nil? }.each do |project_control| %>
                      <%= content_tag(:li, options = {class: "dd-item dd3-item", 'data-id' => project_control.id, id: project_control.control_id + '_' + project_control.id.to_s + '_control'}) do %>
                        <div class="dd-handle dd3-handle"></div>
                        <div class="dd3-content" value='<%= project_control.id %>'>
                            <%= project_control.control_id %> - <%= project_control.nist_controls.collect {|nist| nist.family + '-' + nist.index }[0] %>
                        </div>
                        <% if !project_control.children.empty? %>
                          <%= content_tag(:ol, class: "dd-list", id: :sub_control_list, name: 'project[nestable_list]') do %>
                            <% project_control.children.each do |child| %>
                              <%= content_tag(:li, options = {class: "dd-item dd3-item", 'data-id' => child.id, id: project_control.control_id + '_' + child.id.to_s + '_subcontrol'}) do %>
                                <div class="dd-handle dd3-handle">
                                </div>
                                <div class="dd3-content" value='<%= project_control.id %>'>
                                    <%= child.control_id %> - <%= child.nist_controls.collect {|nist| nist.family + '-' + nist.index }[0] %>
                                </div>
                              <% end %>
                            <% end %>
                          <% end %>
                        <% end %> <!-- end if -->
                      <% end %>
                    <% end %>
                  <% end %> <!-- end content -->
                </div>
              </div>
          </div>
          
          <div class="col-lg-8">
              <div class="row">
                  <h6>3. Build Control</h6>
                  <div class="col-lg-12">
                      <div class="card" id="form_card" style="position: relative; overflow-y: scroll; height: 500px;"></div>
                  </div>
              </div>
          </div>
        </div>
      </div>
  </div>
</div>

<script>
    
  var ace_editor;
  ch_fx_sect = '';
  
  $('#satisfy_control_nestable_list').nestable({
    maxDepth: 2,
    threshold: 20,
    beforeDragStop: function(l,e, p){
      // l is the main container
      // e is the element that was moved
      // p is the place where element was moved.
      console.log(this.placeEl.parent().parent().attr('id'))
      console.log(this);
      if ((this.placeEl.offsetParent().parent().attr('id').split('_')[0] == e.attr('id').split('_')[0]) ||
           this.placeEl.parent().parent().attr('id').split('_')[1] == e.attr('id').split('_')[2])  {
        return false;
      }
      
      control_id = e.attr('id').split('_')[1]
      control_v_number = $.trim(e[0].outerText).split(' - ')[0]
      parent_id = this.placeEl.offsetParent().parent().attr('id').split('_')[1]
      parent_v_number = this.placeEl.offsetParent().parent().attr('id').split('_')[0]
      if (parent_id == 'control') { parent_id = null; }
      var response = '';
      var link = false;
      if (parent_v_number == 'satisfy') {
        var response = confirm('Would you like to unlink control ' + control_v_number);
      } else {
        var response = confirm('Would you like to link control ' + control_v_number + ' with control ' + parent_v_number);
        link = true
      }
      if (!response) {
        return false;
      }
      
      
      
      $.ajax({
        url: '/link_control',
        type: "post",
        data: {control_id, parent_id, link},
        datatype: 'json',
        success: function(data) {
          
        },
        error: function() {
          console.log("Error occured");
        }
      });
      return true;
    }, 
    callback: function(l,e, p) {
      location.reload();
    }
  });
  
  function setParent(control_id, parent_id) {
    
  }
  
  function filter_controls_on_nist(nist_family, project_controls) {
    var liContents = [];
    $('ol li .dd3-content').each(function() {
      if($(this).html().indexOf(nist_family) == -1) {
        console.log($(this).parent());
        $(this).parent().hide()
      } else {
        $(this).parent().show();
      }
    });
  }
  
  $('.dd3-content').on('click', function(e) {
    var control_id = $(this).attr('value');
    hsh = "#form_card";
    url = '/project_controls/' + control_id + '/edit';
    var card_holder = $(hsh);
    if ($('#form_holder').length) {
      $('#form_holder').remove();
    }
    $.ajax(url, {
      success: function(data) {
        var elements = $(data);
        var found = $('#edit_project_control_id', elements);
        card_holder.append('<div id="form_holder"></div>');
        ch_fx_sect = $(data).find('#ch_fx_sect').html();
        code_sect = $(data).find('#code_sect').html();
        $('#form_holder').append($(data).find('#edit_control_form_id').html());
      },
      error: function() {
        console.log("Error occured");
      }
    });
  });
</script>