<div class="row">
    <div class="col-lg-12">
      <div class="card-box">
        <div class="row">
          <div class="col-lg-12">
            <h4 class="m-t-0 header-title" style="padding: 15px">Test Project <%= @project.name %> Controls</h4>
          </div>
        </div>
        <%= render 'components/host_form' %>
        <div class="row no-gutters">
          <div class="col-lg-2">
            <h6>1. Filter NIST Family</h6>
            <div class="controls_list" style="position: relative; overflow-y: scroll; height: 500px;">
                <div class="list-group" id="nist_family_list">
                  <% @nist_families.each do |nist_family| %>
                    <button class="list-group-item list-group-item-action" onclick="filter_controls('<%= nist_family.short_title %>')">
                      <%= nist_family.long_title %>
                    </button>
                  <% end %>
                </div>
            </div>
          </div>
          
          <div class="col-lg-2">
              <h6>2. Select Control</h6>
              <div class="controls_list" style="position: relative; overflow-y: scroll; height: 500px;" id="controls_container">
                  <div class="list-group" id="controls_list">
                    <% @project.project_controls.each do |project_control| %>
                        <button class="control list-group-item list-group-item-action" onclick="set_code_text('<%= project_control.id %>', '<%=j ProjectControl.find(project_control.id).code%>')">
                          <%= project_control.control_id %> - <%= project_control.nist_controls.collect {|nist| nist.family + '-' + nist.index }[0] %>
                        </button>
                    <% end %>
                  </div>
              </div>
          </div>
          
          <div class="col-lg-4">
              <div class="row">
                  <h6>3. InSpec Code</h6>
                  <div class="col-lg-12">                      
                    <div class="card" id="code_text" style="position: relative; overflow-y: scroll; height: 450px;"></div>
                    <button class="btn btn-warning" onclick="update_project_control_code()">Save Code</button>
                  </div>
              </div>
          </div>
          
          <div class="col-lg-4">
              <div class="row">
                  <h6>4. Code Result</h6>
                  <div class="col-lg-12">
                      <div class="card" id="code_results" style="position: relative; overflow-y: scroll; height: 500px;"></div>
                  </div>
              </div>
          </div>
        </div>
      </div>
  </div>
</div>

<script>
  function filter_controls(nist_id) {
    $('.control').filter(function(index) {
      return $(this).html().indexOf(nist_id) != -1;
    }).show();
    $('.control').filter(function(index) {
      return $(this).html().indexOf(nist_id) == -1;
    }).hide();
  }

  var sessions = {}
  var EditSession = require("ace/edit_session").EditSession;
  var editor = ace.edit("code_text");
  editor.session.setMode('ace/mode/ruby');
  function set_code_text(control_id, code) {
    if (sessions[control_id] == undefined) {
      sessions[control_id] = new EditSession(code)
    }
    $('#control_id').val(control_id)
    editor.setSession(sessions[control_id])
    editor.session.setMode('ace/mode/ruby');
  }
  
  function update_project_control_code() {
    
    var id = $('#control_id').val();
    var code = editor.session.getValue();
    $.ajax({
      url: "/update_code",
      type: "post",
      data: {id, code},
      success: function(data) {
        
      },
      error: function() {
        console.log("Error occured");
      }   
    });
  }
  
  $('#transport_method').on('change', function() {
    var selected = $('#transport_method option:selected').text();
    switch(selected) {
      case 'local':
        $('#host_row').hide();
        $('#sudo_row').hide();
        $('#aws_row').hide();
        break;
      case 'SSH':
        $('#host_row').show();
        $('#sudo_row').show();
        $('#aws_row').hide();
        break;
      case 'Docker':
        $('#host_row').show();
        $('#sudo_row').show();
        $('#aws_row').hide();
        break;
      case 'AWS':
        $('#host_row').hide();
        $('#sudo_row').hide();
        $('#aws_row').show();
        break;
    }
  });
  
  $('#host_configs').on('change', function() {
    var parts = $('#host_configs option:selected').text().split(' - ');
    console.log(parts);
    console.log(parts[0])
    $('#transport_method').val(parts[0].trim().toLowerCase());
    $('#host').val(parts[2]);
    $('#user').val(parts[1]);
    $('#port').val(parts[3]);
  });

  ch_fx_sect = '';
  
  function add_host_config(user_id, host, user, password, port, transport_method) {
    $.ajax({
      url: "/add_host_config",
      type: "post",
      data: {'host_configs': {user_id, host, user, password, port, transport_method}},
      success: function(data) {
        $('#host_configs')
         .append($("<option></option>")
                    .attr("value",data['id'])
                    .text(data['option']));
        $("#host_configs").val(data['id']);
      },
      error: function() {
        console.log("Error occured");
      }   
    });
  }
  
  function delete_host_config() {
    var selected_id = $('#host_configs option:selected').val();
    $.ajax({
      url: "/delete_host_config",
      type: "post",
      data: {'host_configs': {'id':selected_id}},
      success: function(data) {
        $(`#host_configs option[value="${selected_id}"]`).remove();
      },
      error: function() {
        console.log("Error occured");
      }   
    });
  }
</script>