<div class="row">
    <div class="col-lg-12">
      <div class="card-box">
        <div class="row">
          <div class="col-lg-12">
            <h4 class="m-t-0 header-title" style="padding: 15px">Test Project <%= @project.name %> Controls</h4>
          </div>
        </div>
        <%= render 'components/host_form' %>
        <div class="row no-gutters">
          <div class="col-lg-2">
            <h6>1. Filter NIST Family</h6>
            <div class="controls_list" style="position: relative; overflow-y: scroll; height: 500px;">
                <div class="list-group" id="nist_family_list">
                  <% @nist_families.each do |nist_family| %>
                    <div class='row'>
                      <div class='col-lg-12'>
                        <button class="list-group-item list-group-item-action" onclick="filter_controls_on_nist('<%= nist_family.short_title %>', <%= @project.project_controls.collect {|control| [control.control_id, control.nist_controls.collect {|nist_family| nist_family.family + '-' + nist_family.index}, control.id]} %>)">
                          <%= nist_family.long_title %>
                        </button>
                      </div>
                    </div>
                  <% end %>
                </div>
            </div>
          </div>
          
          <div class="col-lg-2">
              <h6>2. Select Control</h6>
              <div class="controls_list" style="position: relative; overflow-y: scroll; height: 500px;" id="controls_container">
                  <div class="list-group" id="controls_list">
                    <% @project.project_controls.each do |project_control| %>
                        <button class="list-group-item list-group-item-action" onclick="set_code_text('<%= project_control.id %>', '<%=j ProjectControl.find(project_control.id).code%>')">
                          <%= project_control.control_id %> - <%= project_control.nist_controls.collect {|nist| nist.family + '-' + nist.index }[0] %>
                        </button>
                    <% end %>
                  </div>
              </div>
          </div>
          
          <div class="col-lg-4">
              <div class="row">
                  <h6>3. InSpec Code</h6>
                  <div class="col-lg-12">
                      <div class="card" id="code_text" style="position: relative; overflow-y: scroll; height: 500px;"></div>
                  </div>
              </div>
          </div>
          
          <div class="col-lg-4">
              <div class="row">
                  <h6>4. Code Result</h6>
                  <div class="col-lg-12">
                      <div class="card" id="code_results" style="position: relative; overflow-y: scroll; height: 500px;"></div>
                  </div>
              </div>
          </div>
        </div>
      </div>
  </div>
</div>

<script>
  function set_code_text(control_id, code) {
    $('#control_id').val(control_id)
    $('#code_text').html(code.replace(/\n/g, '<br>').replace(/\s/g, '&ensp;'));
  }
  
  $('#transport_method').on('change', function() {
    var selected = $('#transport_method option:selected').text();
    switch(selected) {
      case 'local':
        $('#host_row').hide();
        $('#sudo_row').hide();
        $('#aws_row').hide();
        break;
      case 'SSH':
        $('#host_row').show();
        $('#sudo_row').show();
        $('#aws_row').hide();
        break;
      case 'Docker':
        $('#host_row').show();
        $('#sudo_row').show();
        $('#aws_row').hide();
        break;
      case 'AWS':
        $('#host_row').hide();
        $('#sudo_row').hide();
        $('#aws_row').show();
        break;
    }
  });
  
  $('#host_configs').on('change', function() {
    var parts = $('#host_configs option:selected').text().split(' - ');
    console.log(parts);
    console.log(parts[0])
    $('#transport_method').val(parts[0].trim().toLowerCase());
    $('#host').val(parts[2]);
    $('#user').val(parts[1]);
    $('#port').val(parts[3]);
  });

  ch_fx_sect = '';
  function filter_controls_on_nist(nist_family, project_controls) {
    $("#controls_list").empty();
    project_controls.forEach((control) =>{
      control[1].forEach((nist_control) =>{
        if(nist_control.indexOf(nist_family) != -1) {
          $("#controls_list").append('<button class="list-group-item list-group-item-action" onclick="render_form(' + control[2] + ')">' + control[0] + ' - ' + control[1][0] + '</button>');
        }
      })
    });
  }
  
  function add_host_config(user_id, host, user, password, port, transport_method) {
    $.ajax({
      url: "/add_host_config",
      type: "post",
      data: {'host_configs': {user_id, host, user, password, port, transport_method}},
      success: function(data) {
        $('#host_configs')
         .append($("<option></option>")
                    .attr("value",data['id'])
                    .text(data['option']));
        $("#host_configs").val(data['id']);
      },
      error: function() {
        console.log("Error occured");
      }   
    });
  }
</script>