= form_tag(omniauth_callback_path(:user, :ldap), id: 'new_ldap_user', class: "gl-show-field-errors") do
  .form-group
    = label_tag :username, "LDAP Username"
    = text_field_tag :username, nil, { class: "form-control top", title: "This field is required.", autofocus: "autofocus", required: true }
  .form-group
    = label_tag :password
    = password_field_tag :password, nil, { class: "form-control bottom", title: "This field is required.", required: true }
  - if devise_mapping.rememberable? && Settings.local_login.remember_me_enabled
    .form-group
      .remember-me.form-check
        = check_box_tag :remember_me, '1', false, id: 'remember_me', class: 'form-check-input'
        %label.form-check-label{ for: "remember_me" } Remember me
  = submit_tag "Sign in", class: 'btn btn-success btn-block'
