= form_for(resource, as: resource_name, id: 'new_local_user', url: session_path(resource_name)) do |f|
  .form-group
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, class: "form-control", title: "This field is required.", autocomplete: "email", required: "true"
  .form-group
    = f.label :password
    %br/
    %password-field{name: "user[password]", id: "user_password", autocomplete: "current-password", ":required" => "true", title: "This field is required."}
    = hidden_field_tag :active_tab, 'local'
  .form-group.d-flex.justify-content-between.align-items-center
    - if devise_mapping.rememberable? && Settings.local_login.remember_me_enabled
      .remember-me.form-check
        = f.check_box :remember_me, class: "form-check-input"
        = f.label :remember_me, class: "form-check-label"
    - if devise_mapping.recoverable?
      = link_to "Forgot your password?", new_password_path(resource_name)
  .actions
    = f.submit "Sign in", class: 'btn btn-success btn-block'
