= form_for(resource, as: resource_name, id: 'new_local_user', url: session_path(resource_name)) do |f|
  .form-group
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, class: "form-control", title: "This field is required.", autocomplete: "email", required: "true"
  .form-group
    = f.label :password
    %br/
    = f.password_field :password, class: "form-control", title: "This field is required.", autocomplete: "current-password", required: "true"
    = hidden_field_tag :active_tab, 'local'
  .form-group
    - if devise_mapping.rememberable?
      .remember-me
      = f.check_box :remember_me
      = f.label :remember_me
    - if devise_mapping.recoverable?
      .float-right
        = link_to "Forgot your password?", new_password_path(resource_name)
  .actions
    = f.submit "Sign in", class: 'btn btn-success btn-block'
