- content_for :assets do
  = javascript_include_tag 'login'

.row
  .col-md-12
    %h1 Welcome to Vulcan
    %br/
.row
  .col-md-5.order-2.order-md-1
    = render 'devise/shared/what_is_vulcan'
  .col-md.offset-md-0.offset-lg-1.order-1.order-md-2
    #login
      - if any_oauth_providers_enabled? || any_form_providers_enabled?
        %b-card{"no-body" => ""}
          %b-tabs{:card => "", :fill => "", :pills => ""}
            - if oidc_enabled?
              - non_ldap_oauth_providers.each do |provider|
                %b-tab{:title => oauth_provider_title(provider)}
                  %b-card-text
                    = link_to omniauth_authorize_path(resource_name, provider), class: "btn btn-block btn-light border d-flex align-items-center justify-content-center", method: :post do
                      = image_tag oauth_provider_icon(provider), class: "align-middle mr-2", style: "height: 28px; width: auto"
                      Sign in with #{oauth_provider_title(provider)}
            - if ldap_enabled?
              %b-tab{:title => Settings.ldap.servers.values.first['title']}
                %b-card-text
                  = render 'devise/sessions/ldap'
            - if local_login_enabled?
              %b-tab{"v-bind:active" => params[:active_tab].eql?('local') ? "true" : "false", :title => "Local Login"}
                %b-card-text
                  = render 'devise/sessions/local'
            - if user_registration_enabled?
              %b-tab{"v-bind:active" => params[:active_tab].eql?('registration') ? "true" : "false", :title => "Register"}
                %b-card-text
                  - if oidc_enabled?
                    - non_ldap_oauth_providers.each do |provider|
                      = link_to omniauth_authorize_path(resource_name, provider), class: "btn btn-block btn-outline-primary border mb-2 d-flex align-items-center justify-content-center", method: :post do
                        = image_tag oauth_provider_icon(provider), class: "align-middle mr-2", style: "height: 24px; width: auto"
                        Register with #{oauth_provider_title(provider)}
                    %p.text-center.text-muted.my-2 — or register with email and password —
                  = render 'devise/registrations/form'

    %br/
