<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="<%= new_project_path %>">Vulcan Profile Builder</a>
    </div>
    <ul class="nav navbar-nav navbar-left navbar-top-links">
      <li>
          <a href="<%= srgs_path %>"><i class="fa fa-dashboard fa-fw"></i> SRGs</a>
      </li>
      <li>
          <a href="<%= pages_path %>"><i class="fa fa-dashboard fa-fw"></i> Upload SRG</a>
      </li>
      <li>
          <a href="<%= new_project_path %>"><i class="fa fa-dashboard fa-fw"></i> Start New Project</a>
      </li>
      <li>
          <a href="<%= projects_path %>"><i class="fa fa-dashboard fa-fw"></i> Projects</a>
      </li>
    </ul>
</nav>

