<!-- Navigation Bar-->
<header id="topnav">
    <div class="topbar-main">
        <div class="container-fluid">

            <!-- Logo container-->
            <div class="logo">
                <!-- Text Logo -->
                <a href="<%= home_path %>" class="logo">
                    <span class="logo-small"><i class="mdi mdi-radar"></i></span>
                    <span class="logo-large"><i class="mdi mdi-radar"></i> Vulcan</span>
                </a>
            </div>
            <!-- End Logo container-->


            <div class="menu-extras topbar-custom">

                <ul class="list-inline float-right mb-0">
                    <li class="menu-item list-inline-item">
                        <!-- Mobile menu toggle-->
                        <a class="navbar-toggle nav-link">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                        <!-- End mobile menu toggle-->
                    </li>
                    <!-- <li class="list-inline-item dropdown notification-list">
                        <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="false" aria-expanded="false">
                            <i class="mdi mdi-bell noti-icon"></i>
                            <span class="badge badge-pink noti-icon-badge">4</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg" aria-labelledby="Preview">
                            <div class="dropdown-item noti-title">
                                <h5 class="font-16"><span class="badge badge-danger float-right">5</span>Notification</h5>
                            </div>

                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-success"><i class="mdi mdi-comment-account"></i></div>
                                <p class="notify-details">Robert S. Taylor commented on Admin<small class="text-muted">1 min ago</small></p>
                            </a>

                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-info"><i class="mdi mdi-account"></i></div>
                                <p class="notify-details">New user registered.<small class="text-muted">1 min ago</small></p>
                            </a>

                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-danger"><i class="mdi mdi-airplane"></i></div>
                                <p class="notify-details">Carlos Crouch liked <b>Admin</b><small class="text-muted">1 min ago</small></p>
                            </a>

                            <a href="javascript:void(0);" class="dropdown-item notify-item notify-all">
                                View All
                            </a>

                        </div>
                    </li> -->
                    
                    <% if current_user %>
                    <!-- User Account Menu -->
                    <li class="list-inline-item dropdown notification-list clearfix">
                      <!-- Menu Toggle Button -->
                      <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button"
                         aria-haspopup="false" aria-expanded="false">
                          <i class="ion-android-social-user" style="font-size:22px"></i>
                            Role: <%= current_user.roles[0].nil? ? "Pending" : current_user.roles[0].name if !current_user.requests[0].nil? %>
                            <%= current_user.roles[0].nil? ? "Waiting For Admin" : current_user.roles[0].name if current_user.requests[0].nil? %>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right profile-dropdown dropdown-menu-lg" aria-labelledby="Preview">
                        <!-- item-->
                        <div class="dropdown-item noti-title" style="white-space: normal;">
                            <h5 class="text-overflow"><small class="text-white">Welcome, <%= current_user.email.split('@')[0] %></small> </h5>
                        </div>
                      
                        <div class="dropdown-item notify-item">
                          <i class="mdi mdi-account"></i><%= link_to "Profile", show_user_path(current_user.id), :class => "btn btn-default btn-flat" %>
                        </div>
                        <div class="dropdown-item notify-item">
                          <i class="mdi mdi-logout"></i><%= link_to "Logout", destroy_user_session_path, :method => :delete, :class => "btn btn-default btn-flat" %>
                        </div>
                        <!-- Menu Body -->
                      </div>
                    </li>
                    
                    <% else %>
                      <li class="list-item"><%= link_to "Login", new_user_session_path %></li>
                    <% end %>
                </ul>
            </div>

            <div class="clearfix"></div>

        </div> <!-- end container -->
    </div>
    <!-- end topbar-main -->
    <% if current_user %>
      <div class="navbar-custom">
          <div class="container-fluid">
              <div id="navigation">
                  <!-- Navigation Menu-->
                  <ul class="navigation-menu">
                      <li class="has-submenu">
                          <a href="<%= home_path %>"><i class="ti-home"></i>Dashboard</a>
                      </li>

                      <li>
                          <a href="<%= srgs_path %>" id="srg_link_id"><i class="fa fa-folder"></i> SRGs</a>
                      </li>
                      
                      <li>
                          <a href="<%= new_srg_path %>"><i class="fa fa-file-archive-o"></i> Upload SRG</a>
                      </li>
                      <% if current_user.has_role?(:vendor) %>
                        <li>
                            <a href="<%= new_project_path %>" id="new_project_link_id"><i class="fa fa-hourglass-start"></i> Start New Project</a>
                        </li>
                      <% end %>
                      <li>
                          <a href="<%= projects_path %>"><i class="fa fa-folder-open-o"></i> Projects</a>
                      </li>

                  </ul>
                  <!-- End navigation menu -->
              </div> <!-- end #navigation -->
          </div> <!-- end container -->
      </div> <!-- end navbar-custom -->
    <% end %>
</header>
<!-- End Navigation Bar-->
