!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Vulcan Profile Builder
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'navbar'
    / If using inline styles in the vue pack, loading the stylesheet_pack_tag as well becomes necessary
    = stylesheet_pack_tag 'navbar'
    = javascript_pack_tag 'toaster'

    = yield :assets
  %body
    #navbar
      %navbar{                                                               |
        'v-bind:navigation': @navigation.to_json,                            |
        'v-bind:signed_in': user_signed_in?.to_s,                            |
        'v-bind:users_path': current_user&.admin ? users_path.to_json : nil, |
        'v-bind:profile_path': edit_user_registration_path.to_json,          |
        'v-bind:sign_out_path': destroy_user_session_path.to_json            |
      }
    #Toaster
      %toaster{                          |
        'v-bind:notice': notice.to_json, |
        'v-bind:alert': alert.to_json    |
      }
    .pt-3.container-fluid{"data-behavior" => "vue"}
      = yield
