!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, shrink-to-fit=no"}/
    %title Vulcan Profile Builder
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'bootstrap-vue'
    = javascript_include_tag 'application', defer: true

    :javascript
      // Color mode initialization - runs before Vue to prevent flash
      (function() {
        var stored = localStorage.getItem('vulcan-color-mode');
        var mode = stored || 'light';
        if (mode === 'auto') {
          mode = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
        }
        document.documentElement.setAttribute('data-bs-theme', mode);
      })();

      // Minimal bootstrap data for SPA - auth state only
      window.vueAppData = {
        signedIn: #{user_signed_in?.to_json},
        currentUser: #{current_user.to_json},
        csrfToken: '#{form_authenticity_token}'
      };
  %body
    #app
