!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, shrink-to-fit=no"}/
    %title Vulcan Profile Builder
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'bootstrap-vue'
    = javascript_include_tag 'application', defer: true

    :javascript
      window.vueAppData = {
        navigation: #{@navigation.to_json},
        signedIn: #{user_signed_in?.to_json},
        usersPath: '#{current_user&.admin ? users_path : ''}',
        profilePath: '#{edit_user_registration_path}',
        signOutPath: '#{destroy_user_session_path}',
        accessRequests: #{@access_requests.to_json},
        notice: #{notice.to_json},
        alert: #{alert.to_json},
        currentUser: #{current_user.to_json}
      };
  %body
    #app
