<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Vulcan Profile Builder</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link rel="shortcut icon" href="assets/images/favicon.ico">


    </head>

    <body>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <div class="wrapper">
          <%= render :partial => 'layouts/header' %>
          <%= yield %>
        </div>

        <script type="text/javascript">
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                    delay: 100,
                    time: 1200
                });
            });
        </script>

    </body>
    <footer class="main-footer">
        <div class="container">
            <div class="row">
            <div class="col-12 text-center">
                <div class="pull-right hidden-xs">
                    Version: 0.0.1
                </div>
                <strong>Copyright © 2018 <a href="#">MITRE</a>.</strong> All rights reserved.
            </div>
            </div>
        </div>
    </footer>
</html>
