
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>

        <title>SRG Profile Builder</title>
    </head>
    <body>
      <div class="wrapper">

        <%= render :partial => 'layouts/header' %>
        <div id="content">
          <%= yield %>
        </div>

        <footer class="main-footer">
          <div class="pull-right hidden-xs">
            Version: 0.0.1 
          </div>
          <strong>Copyright &copy; 2017 <a href="#">MITRE</a>.</strong> All rights reserved.
        </footer>
      </div>
    </body>
</html>
