!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Vulcan Profile Builder
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'navbar'
    / If using inline styles in the vue pack, loading the stylesheet_pack_tag as well becomes necessary
    = stylesheet_pack_tag 'navbar'
    = yield :assets
  %body
    #navbar
      %navbar{                                                      |
        'v-bind:navigation': @navigation.to_json,                   |
        'v-bind:signed_in': user_signed_in?.to_s,                   |
        'v-bind:profile_path': edit_user_registration_path.to_json,     |
        'v-bind:sign_out_path': destroy_user_session_path.to_json   |
      }                                                             |
    - if notice
      %p.alert.alert-success.alert-dismissable= notice
    - if alert
      %p.alert.alert-danger.alert-dismissable= alert
    .pt-5.container{"data-behavior" => "vue"}
      = yield
