<div class="container">
  <div class="text-center">
      <a href="<%= home_path %>" class="logo-lg"><i class="md md-equalizer"></i> <span>Vulcan</span> </a>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "form-horizontal m-t-20") do |f| %>
      <div class="form-group row">
          <div class="col-12">
              <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text"><i class="mdi mdi-email"></i></span>
                  </div>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control" %>
              </div>
          </div>
      </div>
      
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <div class="form-group row">
          <div class="col-12">
              <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text"><i class="mdi mdi-key"></i></span>
                  </div>
                  <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
              </div>
          </div>
      </div>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <div class="form-group row">
          <div class="col-12">
              <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text"><i class="mdi mdi-key"></i></span>
                  </div>
                  <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Password" %>
              </div>
          </div>
      </div>
      
      <!-- <div class="form-group row">
          <div class="col-12">
              <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text"><i class="mdi mdi-account"></i></span>
                  </div>
                  <%= select_tag 'type', "<option>Sponsor</option><option>Vendor</option>".html_safe, :class => "form-control", include_blank: "Type Of User" %>
              </div>
          </div>
      </div> -->
      
      <!-- <div id="vendor_group" style='display:none;'>
        <div class="form-group clearfix">
            <label class="control-label"> Vendor Name *</label>
            <div class="">
              <%= text_field_tag :vendor_name, nil, class: "form-control" %>
            </div>
        </div>
        
        <div class="form-group clearfix">
            <label class="control-label"> Point Of Contact *</label>
            <div class="">
              <%= text_field_tag :point_of_contact, nil, class: "form-control" %>
            </div>
        </div>
        
        <div class="form-group clearfix">
            <label class="control-label"> Point Of Contact Email *</label>
            <div class="">
              <%= text_field_tag :poc_email, nil, class: "form-control" %>
            </div>
        </div>
        
        <div class="form-group clearfix">
            <label class="control-label"> Point Of Contact Phone Number *</label>
            <div class="">
              <%= text_field_tag :poc_phone_number, nil, class: "form-control" %>
            </div>
        </div>
      </div> -->
      
      <!-- <div id="sponsor_group" style='display:none;'>
        <div class="form-group clearfix">
            <label class="control-label"> Sponsor Name *</label>
            <div class="">
              <%= text_field_tag :sponsor_name, nil, class: "form-control" %>
            </div>
        </div>
        
        <div class="form-group clearfix">
            <label class="control-label"> Sponsor Organization *</label>
            <div class="">
              <%= text_field_tag :organization, nil, class: "form-control" %>
            </div>
        </div>
        
        <div class="form-group clearfix">
            <label class="control-label"> Sponsor Phone Number *</label>
            <div class="">
              <%= text_field_tag :phone_number, nil, class: "form-control" %>
            </div>
        </div>
        
        <div class="form-group clearfix">
            <label class="control-label"> Sponsor Email *</label>
            <div class="">
              <%= text_field_tag :email, nil, class: "form-control" %>
            </div>
        </div>
      </div>

      <div class="form-group row">
          <div class="col-12">
              <div class="checkbox checkbox-primary">
                  <input id="checkbox-signup" type="checkbox" checked="checked">
                  <label for="checkbox-signup">
                      I accept <a href="#">Terms and Conditions</a>
                  </label>
              </div>
          </div>
      </div> -->

      <div class="form-group text-right m-t-20">
          <div class="col-xs-12">
              <button class="btn btn-primary btn-custom waves-effect waves-light w-md" type="submit">Register</button>
          </div>
      </div>

      <div class="form-group row m-t-30">
          <div class="col-12 text-center">
              <%= link_to 'Already have account?', new_user_session_path, class: 'text-muted' %>
          </div>
      </div>
  <% end %>
</div>

<script>
  $('[name="type"]').on("change", function() {
    if ($('[name="type"]').val() == 'Vendor') {
      $('#vendor_group').show();
      $('#sponsor_group').hide();
    } else if ($('[name="type"]').val() == 'Sponsor') {
      $('#vendor_group').hide();
      $('#sponsor_group').show();
    }
  })
</script>


